editor/aistarter_nodered_twitter.json
[{"id":"6fb6c32.76f473c","type":"tab","label":"SBAnalyzer","disabled":false,"info":""},{"id":"664faba.d444854","type":"tab","label":"Cloudant初期設定","disabled":false,"info":""},{"id":"5d171ed0.aaff7","type":"tab","label":"分類器作成","disabled":false,"info":""},{"id":"6b858490.733cdc","type":"tab","label":"分類器削除","disabled":false,"info":""},{"id":"ad98e5a4.a398b8","type":"subflow","name":"リクエスト","info":"","in":[{"x":20,"y":100,"wires":[{"id":"3b4aaea0.d56072"}]}],"out":[{"x":1220,"y":60,"wires":[{"id":"7c2dd5f0.8e098c","port":0},{"id":"277bdaeb.7cd9a6","port":0}]}]},{"id":"432c58be.e12d88","type":"ui_group","z":"","name":"ポジネガ","tab":"676fe792.da0f58","order":1,"disp":true,"width":"6"},{"id":"4c6e4872.d47f98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"676fe792.da0f58","type":"ui_tab","z":"","name":"SBTwitter","icon":"dashboard"},{"id":"9b343faa.b1151","type":"ui_group","z":"","name":"BOT判断","tab":"676fe792.da0f58","disp":true,"width":"6"},{"id":"7cabba0.2e40548","type":"ui_group","z":"","name":"感情分類","tab":"676fe792.da0f58","disp":true,"width":"6"},{"id":"d3bce9b2.678de8","type":"ui_group","z":"","name":"Tweet内訳","tab":"676fe792.da0f58","disp":true,"width":"24"},{"id":"2eaa9c5.39b8964","type":"ui_group","z":"","name":"トータル","tab":"676fe792.da0f58","disp":true,"width":"6"},{"id":"bc2564ca.4418b8","type":"twitter in","z":"6fb6c32.76f473c","twitter":"","tags":"","user":"false","name":"ツイート収集","topic":"tweets","inputs":1,"x":90,"y":80,"wires":[["71ca9149.4145"]]},{"id":"503056e3.774c68","type":"watson-natural-language-classifier","z":"6fb6c32.76f473c","name":"NLC:ポジネガ判定","mode":"classify","language":"en","classifier":"","x":390,"y":140,"wires":[["544a7b73.e037e4"]]},{"id":"8f4ffe59.83b31","type":"watson-natural-language-classifier","z":"6fb6c32.76f473c","name":"NLC:BOT判断","mode":"classify","language":"en","classifier":"","x":420,"y":80,"wires":[["66906243.7634bc","544a7b73.e037e4"]]},{"id":"cb7e0cf0.3485d","type":"watson-natural-language-classifier","z":"6fb6c32.76f473c","name":"NLC:感情分類","mode":"classify","language":"en","classifier":"","x":380,"y":180,"wires":[["544a7b73.e037e4"]]},{"id":"cce5a1fd.b96e8","type":"comment","z":"6fb6c32.76f473c","name":"ツイートの収集、登録","info":"","x":100,"y":40,"wires":[]},{"id":"e2cb3af6.026a28","type":"ui_dropdown","z":"6fb6c32.76f473c","name":"","label":"","place":"時","group":"432c58be.e12d88","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1200,"wires":[["df316b4.2a76b98"]]},{"id":"5e1eadf3.b075e4","type":"ui_date_picker","z":"6fb6c32.76f473c","name":"","label":"","group":"432c58be.e12d88","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1160,"wires":[["6d14cc83.385b34"]]},{"id":"8d0d8aaa.1ed338","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"9b343faa.b1151","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":620,"wires":[[],[]]},{"id":"b3b3643f.8aa568","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"9b343faa.b1151","order":2,"width":0,"height":0,"label":"時","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":700,"wires":[[],[]]},{"id":"be748036.aa078","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"9b343faa.b1151","order":3,"width":0,"height":0,"label":"日","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"31","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":780,"wires":[[],[]]},{"id":"8367412e.d3f74","type":"ui_dropdown","z":"6fb6c32.76f473c","name":"","label":"","place":"時","group":"9b343faa.b1151","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1340,"wires":[["fb6661d4.23df7"]]},{"id":"2fc3db05.767134","type":"ui_date_picker","z":"6fb6c32.76f473c","name":"","label":"","group":"9b343faa.b1151","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1300,"wires":[["a74052c0.a6ba2"]]},{"id":"99fa0532.959f08","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"7cabba0.2e40548","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":880,"wires":[[],[]]},{"id":"f85c6cfb.c85ab","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"7cabba0.2e40548","order":2,"width":0,"height":0,"label":"時","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":960,"wires":[[],[]]},{"id":"9833d378.a4c64","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"7cabba0.2e40548","order":3,"width":0,"height":0,"label":"日","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"31","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":1040,"wires":[[],[]]},{"id":"64fcd611.be3948","type":"ui_dropdown","z":"6fb6c32.76f473c","name":"","label":"","place":"時","group":"7cabba0.2e40548","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1480,"wires":[["db52a87d.343b08"]]},{"id":"529fe311.f3f84c","type":"ui_date_picker","z":"6fb6c32.76f473c","name":"","label":"","group":"7cabba0.2e40548","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1440,"wires":[["dda8ffae.4d5d4"]]},{"id":"73706cde.494c94","type":"ui_dropdown","z":"6fb6c32.76f473c","name":"","label":"","place":"分","group":"432c58be.e12d88","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":24,"type":"num"},{"label":"","value":25,"type":"num"},{"label":"","value":26,"type":"num"},{"label":"","value":27,"type":"num"},{"label":"","value":28,"type":"num"},{"label":"","value":29,"type":"num"},{"label":"","value":30,"type":"num"},{"label":"","value":31,"type":"num"},{"label":"","value":32,"type":"num"},{"label":"","value":33,"type":"num"},{"label":"","value":34,"type":"num"},{"label":"","value":35,"type":"num"},{"label":"","value":36,"type":"num"},{"label":"","value":37,"type":"num"},{"label":"","value":38,"type":"num"},{"label":"","value":39,"type":"num"},{"label":"","value":40,"type":"num"},{"label":"","value":41,"type":"num"},{"label":"","value":42,"type":"num"},{"label":"","value":43,"type":"num"},{"label":"","value":44,"type":"num"},{"label":"","value":45,"type":"num"},{"label":"","value":46,"type":"num"},{"label":"","value":47,"type":"num"},{"label":"","value":48,"type":"num"},{"label":"","value":49,"type":"num"},{"label":"","value":50,"type":"num"},{"label":"","value":51,"type":"num"},{"label":"","value":52,"type":"num"},{"label":"","value":53,"type":"num"},{"label":"","value":54,"type":"num"},{"label":"","value":55,"type":"num"},{"label":"","value":56,"type":"num"},{"label":"","value":57,"type":"num"},{"label":"","value":58,"type":"num"},{"label":"","value":59,"type":"num"},{"label":"","value":60,"type":"num"}],"payload":"","topic":"","x":80,"y":1240,"wires":[["68413655.8f6698"]]},{"id":"46236634.03b808","type":"comment","z":"6fb6c32.76f473c","name":"ポジネガグラフ","info":"","x":80,"y":320,"wires":[]},{"id":"8476d281.b4c43","type":"ui_dropdown","z":"6fb6c32.76f473c","name":"","label":"","place":"分","group":"9b343faa.b1151","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"},{"label":"","value":"28","type":"str"},{"label":"","value":"29","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"31","type":"str"},{"label":"","value":"32","type":"str"},{"label":"","value":"33","type":"str"},{"label":"","value":"34","type":"str"},{"label":"","value":"35","type":"str"},{"label":"","value":"36","type":"str"},{"label":"","value":"37","type":"str"},{"label":"","value":"38","type":"str"},{"label":"","value":"39","type":"str"},{"label":"","value":"40","type":"str"},{"label":"","value":"41","type":"str"},{"label":"","value":"42","type":"str"},{"label":"","value":"43","type":"str"},{"label":"","value":"44","type":"str"},{"label":"","value":"45","type":"str"},{"label":"","value":"46","type":"str"},{"label":"","value":"47","type":"str"},{"label":"","value":"48","type":"str"},{"label":"","value":"49","type":"str"},{"label":"","value":"50","type":"str"},{"label":"","value":"51","type":"str"},{"label":"","value":"52","type":"str"},{"label":"","value":"53","type":"str"},{"label":"","value":"54","type":"str"},{"label":"","value":"55","type":"str"},{"label":"","value":"56","type":"str"},{"label":"","value":"57","type":"str"},{"label":"","value":"58","type":"str"},{"label":"","value":"59","type":"str"},{"label":"","value":"60","type":"str"}],"payload":"","topic":"","x":80,"y":1380,"wires":[["2103cba2.1b92d4"]]},{"id":"3fc38c92.c1a8b4","type":"ui_dropdown","z":"6fb6c32.76f473c","name":"","label":"","place":"分","group":"7cabba0.2e40548","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"},{"label":"","value":"28","type":"str"},{"label":"","value":"29","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"31","type":"str"},{"label":"","value":"32","type":"str"},{"label":"","value":"33","type":"str"},{"label":"","value":"34","type":"str"},{"label":"","value":"35","type":"str"},{"label":"","value":"36","type":"str"},{"label":"","value":"37","type":"str"},{"label":"","value":"38","type":"str"},{"label":"","value":"39","type":"str"},{"label":"","value":"40","type":"str"},{"label":"","value":"41","type":"str"},{"label":"","value":"42","type":"str"},{"label":"","value":"43","type":"str"},{"label":"","value":"44","type":"str"},{"label":"","value":"45","type":"str"},{"label":"","value":"46","type":"str"},{"label":"","value":"47","type":"str"},{"label":"","value":"48","type":"str"},{"label":"","value":"49","type":"str"},{"label":"","value":"50","type":"str"},{"label":"","value":"51","type":"str"},{"label":"","value":"52","type":"str"},{"label":"","value":"53","type":"str"},{"label":"","value":"54","type":"str"},{"label":"","value":"55","type":"str"},{"label":"","value":"56","type":"str"},{"label":"","value":"57","type":"str"},{"label":"","value":"58","type":"str"},{"label":"","value":"59","type":"str"},{"label":"","value":"60","type":"str"}],"payload":"","topic":"","x":80,"y":1520,"wires":[["ffd52a0f.4d0098"]]},{"id":"98d132ee.59d99","type":"ui_template","z":"6fb6c32.76f473c","group":"d3bce9b2.678de8","name":"Tweet内訳","order":0,"width":"24","height":"10","format":"<div>\n<table style=\"width:100%\">\n  <tr>\n    <th>No.</th>\n    <th>Class</th>\n    <th>年</th>\n    <th>月</th>\n    <th>日</th>\n    <th>時</th>\n    <th>分</th>\n    <th>Tweet</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload.rows | limitTo:1000\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload.rows[$index].value[0]}}</td>\n    <td>{{msg.payload.rows[$index].value[2]}}</td>\n    <td>{{msg.payload.rows[$index].value[3]}}</td>\n    <td>{{msg.payload.rows[$index].value[4]}}</td>\n    <td>{{msg.payload.rows[$index].value[5]}}</td>\n    <td>{{msg.payload.rows[$index].value[6]}}</td>\n    <td>{{msg.payload.rows[$index].value[1]}}</td> \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":150,"y":1580,"wires":[[]]},{"id":"903d61d4.72315","type":"debug","z":"6fb6c32.76f473c","name":"","active":false,"console":"false","complete":"true","x":570,"y":1160,"wires":[]},{"id":"abe3ca54.3ddaa8","type":"function","z":"6fb6c32.76f473c","name":"クエリセット","func":"var classifierName = \"posinega\";\nvar viewName = \"posi_nega_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nmsg.date = date;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1200,"wires":[["903d61d4.72315","e6488f41.399b9"]]},{"id":"6d14cc83.385b34","type":"change","z":"6fb6c32.76f473c","name":"日付セット","rules":[{"t":"set","p":"posinega.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1160,"wires":[["abe3ca54.3ddaa8"]]},{"id":"df316b4.2a76b98","type":"change","z":"6fb6c32.76f473c","name":"時セット","rules":[{"t":"set","p":"posinega.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1200,"wires":[["abe3ca54.3ddaa8"]]},{"id":"68413655.8f6698","type":"change","z":"6fb6c32.76f473c","name":"分セット","rules":[{"t":"set","p":"posinega.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1240,"wires":[["abe3ca54.3ddaa8"]]},{"id":"926405a6.76ce28","type":"debug","z":"6fb6c32.76f473c","name":"","active":false,"console":"false","complete":"true","x":730,"y":1160,"wires":[]},{"id":"8da73d66.2824","type":"debug","z":"6fb6c32.76f473c","name":"","active":false,"console":"false","complete":"true","x":570,"y":1300,"wires":[]},{"id":"ad760fb4.b2b49","type":"function","z":"6fb6c32.76f473c","name":"クエリセット","func":"var classifierName = \"isbot\";\nvar viewName = \"isbot_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1340,"wires":[["8da73d66.2824","a7c68289.bedf"]]},{"id":"a74052c0.a6ba2","type":"change","z":"6fb6c32.76f473c","name":"日付セット","rules":[{"t":"set","p":"isbot.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1300,"wires":[["ad760fb4.b2b49"]]},{"id":"fb6661d4.23df7","type":"change","z":"6fb6c32.76f473c","name":"時セット","rules":[{"t":"set","p":"isbot.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1340,"wires":[["ad760fb4.b2b49"]]},{"id":"2103cba2.1b92d4","type":"change","z":"6fb6c32.76f473c","name":"分セット","rules":[{"t":"set","p":"isbot.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1380,"wires":[["ad760fb4.b2b49"]]},{"id":"1c3a4292.2f45cd","type":"debug","z":"6fb6c32.76f473c","name":"","active":false,"console":"false","complete":"true","x":730,"y":1300,"wires":[]},{"id":"1d463a66.b811d6","type":"debug","z":"6fb6c32.76f473c","name":"","active":false,"console":"false","complete":"true","x":570,"y":1440,"wires":[]},{"id":"7d60379d.bb3fa8","type":"function","z":"6fb6c32.76f473c","name":"クエリセット","func":"var classifierName = \"emotion\";\nvar viewName = \"emotion_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1480,"wires":[["1d463a66.b811d6","7f2f26ae.53ae98"]]},{"id":"dda8ffae.4d5d4","type":"change","z":"6fb6c32.76f473c","name":"日付セット","rules":[{"t":"set","p":"emotion.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1440,"wires":[["7d60379d.bb3fa8"]]},{"id":"db52a87d.343b08","type":"change","z":"6fb6c32.76f473c","name":"時セット","rules":[{"t":"set","p":"emotion.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1480,"wires":[["7d60379d.bb3fa8"]]},{"id":"ffd52a0f.4d0098","type":"change","z":"6fb6c32.76f473c","name":"分セット","rules":[{"t":"set","p":"emotion.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1520,"wires":[["7d60379d.bb3fa8"]]},{"id":"d17002a7.e0459","type":"debug","z":"6fb6c32.76f473c","name":"","active":false,"console":"false","complete":"true","x":730,"y":1440,"wires":[]},{"id":"73d5fef1.d3c4","type":"comment","z":"6fb6c32.76f473c","name":"BOT判断グラフ","info":"","x":80,"y":580,"wires":[]},{"id":"d6643754.8408e8","type":"comment","z":"6fb6c32.76f473c","name":"感情分類グラフ","info":"","x":80,"y":840,"wires":[]},{"id":"b7717c14.ff008","type":"link out","z":"6fb6c32.76f473c","name":"Tweet内訳","links":["9faf1c0f.ade5e"],"x":695,"y":1200,"wires":[]},{"id":"9faf1c0f.ade5e","type":"link in","z":"6fb6c32.76f473c","name":"Tweet内訳","links":["b7717c14.ff008","b379882c.8090e8","d4b0bf57.163cc"],"x":35,"y":1580,"wires":[["98d132ee.59d99"]]},{"id":"10751775.a871c9","type":"comment","z":"6fb6c32.76f473c","name":"Tweet内訳へ","info":"","x":790,"y":1200,"wires":[]},{"id":"b379882c.8090e8","type":"link out","z":"6fb6c32.76f473c","name":"Tweet内訳","links":["9faf1c0f.ade5e"],"x":695,"y":1340,"wires":[]},{"id":"d7c304.9503bd","type":"comment","z":"6fb6c32.76f473c","name":"Tweet内訳へ","info":"","x":790,"y":1340,"wires":[]},{"id":"d4b0bf57.163cc","type":"link out","z":"6fb6c32.76f473c","name":"Tweet内訳","links":["9faf1c0f.ade5e"],"x":695,"y":1480,"wires":[]},{"id":"4bdc4db6.2fb774","type":"comment","z":"6fb6c32.76f473c","name":"Tweet内訳へ","info":"","x":790,"y":1480,"wires":[]},{"id":"a8df5993.1a4a88","type":"change","z":"6fb6c32.76f473c","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"isbot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":700,"wires":[["1ac82f3e.7f3051"]]},{"id":"6979f264.d53d5c","type":"change","z":"6fb6c32.76f473c","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"emotion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":960,"wires":[["1ac82f3e.7f3051"]]},{"id":"60bdace1.657454","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"2eaa9c5.39b8964","order":0,"width":0,"height":0,"label":"ポジネガ","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":1820,"wires":[[],[]]},{"id":"ad7876c9.6783d8","type":"comment","z":"6fb6c32.76f473c","name":"トータル円グラフ","info":"","x":90,"y":1660,"wires":[]},{"id":"bf252796.61a8d8","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"2eaa9c5.39b8964","order":0,"width":0,"height":0,"label":"BOT判断","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":2020,"wires":[[],[]]},{"id":"cc80910e.049a6","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":1700,"wires":[["6d9a39b5.27e658"]]},{"id":"c0d39bea.e8c7a8","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":1900,"wires":[["31ac023e.c38b8e"]]},{"id":"ae8f2f30.e8949","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":2100,"wires":[["ec24a11e.38a85"]]},{"id":"31ac023e.c38b8e","type":"change","z":"6fb6c32.76f473c","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"isbot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1900,"wires":[["c5433234.b4938"]]},{"id":"ec24a11e.38a85","type":"change","z":"6fb6c32.76f473c","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"emotion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":2100,"wires":[["97475658.7bc4c8"]]},{"id":"dced2084.ca5d3","type":"function","z":"664faba.d444854","name":"Database作成クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\"));\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["cf7156d5.67cc48"]]},{"id":"cf7156d5.67cc48","type":"http request","z":"664faba.d444854","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":550,"y":140,"wires":[["7f4c0751.d74fe8"]]},{"id":"6bd5f569.3495dc","type":"function","z":"664faba.d444854","name":"view作成クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view\");\n\n//作成するviewの中身をmsg.payloadに格納する\nmsg.payload = {\n  \"_id\": \"_design/view\",\n  \"views\": {\n    \"count_by_time\": {\n      \"reduce\": \"_count\",\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    //32400000ms足すことで日本時間に合わせる\\n    date = new Date(msec+32400000);\\n    emit([doc.payload.top_class,\\n          date.getFullYear(),\\n          date.getMonth()+1,\\n          date.getDate(),\\n          date.getHours(),\\n          date.getMinutes(),\\n          date.getSeconds()\\n        ]);\\n  }\\n}\"\n    },\n    \"posi_nega_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    if (doc.payload.top_class == \\\"positive\\\" ||\\n        doc.payload.top_class == \\\"neutral\\\" ||\\n        doc.payload.top_class == \\\"negative\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.payload.top_class,\\n            doc.tweet.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    },\n    \"isbot_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    if (doc.payload.top_class == \\\"person\\\" ||\\n        doc.payload.top_class == \\\"others\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.payload.top_class,\\n            doc.tweet.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    },\n    \"count_by_class\": {\n      \"reduce\": \"_count\",\n      \"map\": \"function (doc) {\\n  if (doc.payload.top_class) {\\n    emit(doc.payload.top_class);\\n  }\\n}\"\n    },\n    \"emotion_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    if (doc.payload.top_class == \\\"喜\\\" ||\\n        doc.payload.top_class == \\\"怒\\\" ||\\n        doc.payload.top_class == \\\"哀\\\" ||\\n        doc.payload.top_class == \\\"楽\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.payload.top_class,\\n            doc.tweet.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    }\n  },\n  \"language\": \"javascript\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["5be0ebb.b58fe14"]]},{"id":"5be0ebb.b58fe14","type":"http request","z":"664faba.d444854","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":550,"y":180,"wires":[["a9a3e665.e1b268"]]},{"id":"75ccdb0a.5d9954","type":"change","z":"664faba.d444854","name":"Cloudant 設定","rules":[{"t":"set","p":"cloudant.url","pt":"global","to":"https://47ca6074-94e4-4264-8526-71da6f7aad84-bluemix:5a309f3fa5d1c4a2e95ac2cd6bb17248e4204d42537d815d14a0f1b352315e0e@47ca6074-94e4-4264-8526-71da6f7aad84-bluemix.cloudant.com","tot":"str"},{"t":"set","p":"cloudant.dbname","pt":"global","to":"twitter_data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":40,"wires":[[]]},{"id":"f5f00a4b.0465a8","type":"inject","z":"664faba.d444854","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":40,"wires":[["75ccdb0a.5d9954"]]},{"id":"c71f229c.4931a","type":"inject","z":"664faba.d444854","name":"Database作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":140,"wires":[["dced2084.ca5d3"]]},{"id":"8fb04960.322218","type":"inject","z":"664faba.d444854","name":"view作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["6bd5f569.3495dc"]]},{"id":"7f4c0751.d74fe8","type":"debug","z":"664faba.d444854","name":"","active":true,"console":"false","complete":"false","x":710,"y":140,"wires":[]},{"id":"a9a3e665.e1b268","type":"debug","z":"664faba.d444854","name":"","active":true,"console":"false","complete":"false","x":710,"y":180,"wires":[]},{"id":"b2738817.648f28","type":"inject","z":"5d171ed0.aaff7","name":"学習データをセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":80,"wires":[["105e0fcf.64e09"]]},{"id":"30b3e67e.377bfa","type":"comment","z":"5d171ed0.aaff7","name":"NLCに分類器（ポジネガ）作成","info":"","x":150,"y":40,"wires":[]},{"id":"105e0fcf.64e09","type":"template","z":"5d171ed0.aaff7","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":410,"y":80,"wires":[["4ec04f0b.f3f5d"]]},{"id":"7cef5d49.581bf4","type":"debug","z":"5d171ed0.aaff7","name":"","active":true,"console":"false","complete":"payload","x":830,"y":40,"wires":[]},{"id":"17458cb5.b6dad3","type":"inject","z":"5d171ed0.aaff7","name":"学習データをセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":220,"wires":[["15d7c2f8.b6b35d"]]},{"id":"15d7c2f8.b6b35d","type":"template","z":"5d171ed0.aaff7","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":410,"y":220,"wires":[["677f7344.2cf84c"]]},{"id":"677f7344.2cf84c","type":"watson-natural-language-classifier","z":"5d171ed0.aaff7","name":"分類器作成・トレーニング","mode":"create","language":"ja","classifier":"","x":620,"y":220,"wires":[["33da1dba.302d22","bbcd65f2.52c3e8"]]},{"id":"33da1dba.302d22","type":"debug","z":"5d171ed0.aaff7","name":"","active":true,"console":"false","complete":"false","x":830,"y":180,"wires":[]},{"id":"106ec276.64478e","type":"comment","z":"5d171ed0.aaff7","name":"NLCに分類器（BOT判断）作成","info":"","x":150,"y":180,"wires":[]},{"id":"7aac2d40.f094f4","type":"template","z":"5d171ed0.aaff7","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":410,"y":360,"wires":[["edea3daf.6e517"]]},{"id":"4eb8799f.1f9ea8","type":"inject","z":"5d171ed0.aaff7","name":"学習データをセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":360,"wires":[["7aac2d40.f094f4"]]},{"id":"edea3daf.6e517","type":"watson-natural-language-classifier","z":"5d171ed0.aaff7","name":"分類器作成・トレーニング","mode":"create","language":"ja","classifier":"","x":620,"y":360,"wires":[["78de15ec.b20bec","83647e69.76bc6"]]},{"id":"78de15ec.b20bec","type":"debug","z":"5d171ed0.aaff7","name":"","active":true,"console":"false","complete":"false","x":830,"y":320,"wires":[]},{"id":"5bd2729e.c9b7bc","type":"comment","z":"5d171ed0.aaff7","name":"NLCに分類器（感情）作成","info":"","x":130,"y":320,"wires":[]},{"id":"3e4f3bcd.1c8e44","type":"comment","z":"5d171ed0.aaff7","name":"NLCに登録済みの分類器一覧確認","info":"","x":150,"y":460,"wires":[]},{"id":"428475f5.fc6c9c","type":"inject","z":"5d171ed0.aaff7","name":"分類器情報の確認","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":500,"wires":[["960f3556.8e8108"]]},{"id":"b971320a.41b78","type":"debug","z":"5d171ed0.aaff7","name":"","active":true,"console":"false","complete":"payload","x":450,"y":500,"wires":[]},{"id":"4ec04f0b.f3f5d","type":"watson-natural-language-classifier","z":"5d171ed0.aaff7","name":"分類器作成・トレーニング","mode":"create","language":"ja","classifier":"","x":620,"y":80,"wires":[["7cef5d49.581bf4","26311f26.43188"]]},{"id":"434fef3a.1719b","type":"catch","z":"5d171ed0.aaff7","name":"Cloudant Insertリトライ","scope":["b684f948.ce04f8"],"x":690,"y":120,"wires":[["72fb706.50dd79"]]},{"id":"776672.e46aa99","type":"function","z":"5d171ed0.aaff7","name":"クエリセット","func":"var name = \"posinega\";\n\nmsg.payload = {\n    \"_id\" : msg.classifier.classifier_id,\n    \"classifier_id\" : msg.classifier.classifier_id,\n    \"name\" : name,\n    \"created\" : msg.classifier.created\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":80,"wires":[["b684f948.ce04f8"]]},{"id":"26311f26.43188","type":"change","z":"5d171ed0.aaff7","name":"","rules":[{"t":"set","p":"classifier","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":80,"wires":[["776672.e46aa99"]]},{"id":"72fb706.50dd79","type":"delay","z":"5d171ed0.aaff7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":880,"y":120,"wires":[["776672.e46aa99"]]},{"id":"3431b60e.d6795a","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":240,"wires":[["64d33d0b.fea234"]]},{"id":"64d33d0b.fea234","type":"change","z":"6fb6c32.76f473c","name":"NLC設定","rules":[{"t":"set","p":"posinega","pt":"global","to":"{\"class\":[\"positive\",\"neutral\",\"negative\"]}","tot":"json"},{"t":"set","p":"isbot","pt":"global","to":"{\"class\":[\"person\",\"others\"]}","tot":"json"},{"t":"set","p":"emotion","pt":"global","to":"{\"class\":[\"喜\",\"怒\",\"哀\",\"楽\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":240,"wires":[[]]},{"id":"4594b8b3.a76978","type":"catch","z":"5d171ed0.aaff7","name":"Cloudant Insertリトライ","scope":["b684f948.ce04f8"],"x":690,"y":260,"wires":[["6684342.c3b9fcc"]]},{"id":"6684342.c3b9fcc","type":"delay","z":"5d171ed0.aaff7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":880,"y":260,"wires":[["e839ae91.844b2"]]},{"id":"bbcd65f2.52c3e8","type":"change","z":"5d171ed0.aaff7","name":"","rules":[{"t":"set","p":"classifier","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":220,"wires":[["e839ae91.844b2"]]},{"id":"e839ae91.844b2","type":"function","z":"5d171ed0.aaff7","name":"クエリセット","func":"var name = \"isbot\";\n\nmsg.payload = {\n    \"_id\" : msg.classifier.classifier_id,\n    \"classifier_id\" : msg.classifier.classifier_id,\n    \"name\" : name,\n    \"created\" : msg.classifier.created\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":220,"wires":[["b684f948.ce04f8"]]},{"id":"b684f948.ce04f8","type":"cloudant out","z":"5d171ed0.aaff7","name":"Insert","cloudant":"","database":"classifiers","service":"node-red-okano-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1190,"y":220,"wires":[]},{"id":"385380bf.8e22f","type":"catch","z":"5d171ed0.aaff7","name":"Cloudant Insertリトライ","scope":["b684f948.ce04f8"],"x":690,"y":400,"wires":[["db8fe4d.ef8e218"]]},{"id":"db8fe4d.ef8e218","type":"delay","z":"5d171ed0.aaff7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":880,"y":400,"wires":[["47e17e60.6de44"]]},{"id":"83647e69.76bc6","type":"change","z":"5d171ed0.aaff7","name":"","rules":[{"t":"set","p":"classifier","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":360,"wires":[["47e17e60.6de44"]]},{"id":"47e17e60.6de44","type":"function","z":"5d171ed0.aaff7","name":"クエリセット","func":"var name = \"emotion\";\n\nmsg.payload = {\n    \"_id\" : msg.classifier.classifier_id,\n    \"classifier_id\" : msg.classifier.classifier_id,\n    \"name\" : name,\n    \"created\" : msg.classifier.created\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":360,"wires":[["b684f948.ce04f8"]]},{"id":"5bd7ccc4.5449c4","type":"comment","z":"5d171ed0.aaff7","name":"分類器の状態確認（classifier_id指定）","info":"","x":170,"y":580,"wires":[]},{"id":"4d22f7cd.62ea98","type":"watson-natural-language-classifier","z":"5d171ed0.aaff7","name":"分類器状態確認","mode":"classify","language":"en","classifier":"","x":320,"y":620,"wires":[["519c5f35.c2536"]]},{"id":"519c5f35.c2536","type":"debug","z":"5d171ed0.aaff7","name":"","active":true,"console":"false","complete":"payload","x":490,"y":620,"wires":[]},{"id":"25342cbf.e57294","type":"inject","z":"5d171ed0.aaff7","name":"分類器状態確認","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":620,"wires":[["4d22f7cd.62ea98"]]},{"id":"960f3556.8e8108","type":"cloudant in","z":"5d171ed0.aaff7","name":"検索","cloudant":"","database":"classifiers","service":"node-red-okano-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":310,"y":500,"wires":[["b971320a.41b78"]]},{"id":"1583e1da.c2a0ae","type":"cloudant out","z":"6fb6c32.76f473c","name":"ツイート情報登録","cloudant":"","database":"twitter_data","service":"node-red-okano-cloudantNoSQLDB","payonly":false,"operation":"insert","x":770,"y":180,"wires":[]},{"id":"2a7362e4.28568e","type":"change","z":"6fb6c32.76f473c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[["503056e3.774c68","cb7e0cf0.3485d"]]},{"id":"66906243.7634bc","type":"switch","z":"6fb6c32.76f473c","name":"人のみ","property":"payload.top_class","propertyType":"msg","rules":[{"t":"eq","v":"person","vt":"str"}],"checkall":"true","outputs":1,"x":570,"y":80,"wires":[["2a7362e4.28568e"]]},{"id":"544a7b73.e037e4","type":"delay","z":"6fb6c32.76f473c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":180,"wires":[["1583e1da.c2a0ae"]]},{"id":"71ca9149.4145","type":"switch","z":"6fb6c32.76f473c","name":"日本語のみ","property":"lang","propertyType":"msg","rules":[{"t":"eq","v":"ja","vt":"str"}],"checkall":"true","outputs":1,"x":250,"y":80,"wires":[["8f4ffe59.83b31"]]},{"id":"3356ae30.c6ba02","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"x":470,"y":240,"wires":[["8ed32480.6b72e8"]]},{"id":"8ed32480.6b72e8","type":"change","z":"6fb6c32.76f473c","name":"流量制限用","rules":[{"t":"set","p":"request.count","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[[]]},{"id":"fb20a3ba.7e7b9","type":"delay","z":"ad98e5a4.a398b8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"200","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":270,"y":160,"wires":[["77fafd7.6bf3504"]]},{"id":"77fafd7.6bf3504","type":"switch","z":"ad98e5a4.a398b8","name":"流量制限","property":"request.count","propertyType":"global","rules":[{"t":"lt","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":260,"y":100,"wires":[["8935fe20.9144"],["fb20a3ba.7e7b9"]]},{"id":"87b844b6.61fbf8","type":"http request","z":"ad98e5a4.a398b8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":80,"wires":[["7c2dd5f0.8e098c"]]},{"id":"3b4aaea0.d56072","type":"delay","z":"ad98e5a4.a398b8","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1000","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":120,"y":100,"wires":[["77fafd7.6bf3504"]]},{"id":"e6488f41.399b9","type":"http request","z":"6fb6c32.76f473c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1200,"wires":[["b7717c14.ff008","926405a6.76ce28"]]},{"id":"a7c68289.bedf","type":"http request","z":"6fb6c32.76f473c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1340,"wires":[["b379882c.8090e8","1c3a4292.2f45cd"]]},{"id":"7f2f26ae.53ae98","type":"http request","z":"6fb6c32.76f473c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1480,"wires":[["d17002a7.e0459","d4b0bf57.163cc"]]},{"id":"7c2dd5f0.8e098c","type":"switch","z":"ad98e5a4.a398b8","name":"エラー検知","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":750,"y":80,"wires":[[],["5e085893.5c5c28"]]},{"id":"8935fe20.9144","type":"function","z":"ad98e5a4.a398b8","name":"流量カウント","func":"var count = global.get('request.count');\ncount++;\nglobal.set('request.count',count);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["87b844b6.61fbf8"]]},{"id":"5e085893.5c5c28","type":"function","z":"ad98e5a4.a398b8","name":"リトライセット","func":"msg.retryCount = msg.retryCount || 0;\nmsg.retryCount++;\n\nmsg.payload = {};\nmsg.responseUrl = null;\nmsg.headers = null;\nmsg.statusCode = null;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":100,"wires":[["277bdaeb.7cd9a6"]]},{"id":"277bdaeb.7cd9a6","type":"switch","z":"ad98e5a4.a398b8","name":"リトライ上限","property":"retryCount","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1100,"y":100,"wires":[[],["fb20a3ba.7e7b9"]]},{"id":"c20223f6.8082b","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"2eaa9c5.39b8964","order":0,"width":0,"height":0,"label":"感情分類","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":2220,"wires":[[],[]]},{"id":"188d2ddf.70f642","type":"function","z":"6b858490.733cdc","name":"削除対象抽出","func":"msg.target = msg.payload;\nmsg.count = msg.payload.length;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["bb23ef43.b37bb"]]},{"id":"23b1c236.d4d8fe","type":"inject","z":"6b858490.733cdc","name":"最も古い分類器の削除","topic":"posinega","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":80,"wires":[["9d75415b.492fb"]]},{"id":"5c63c474.ba8cac","type":"template","z":"6b858490.733cdc","name":"削除対象設定","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[\"abc12ex123-nlc-12346\", \"abc12ex123-nlc-12346\"]","output":"json","x":340,"y":400,"wires":[["188d2ddf.70f642"]]},{"id":"56d804ae.cd791c","type":"comment","z":"6b858490.733cdc","name":"最も古い分類器の削除（ポジネガ）","info":"","x":160,"y":40,"wires":[]},{"id":"9d75415b.492fb","type":"cloudant in","z":"6b858490.733cdc","name":"検索","cloudant":"","database":"classifiers","service":"node-red-okano-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":330,"y":180,"wires":[["33989b74.a734f4"]]},{"id":"793337a7.ddef08","type":"inject","z":"6b858490.733cdc","name":"最も古い分類器の削除","topic":"isbot","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":180,"wires":[["9d75415b.492fb"]]},{"id":"33989b74.a734f4","type":"function","z":"6b858490.733cdc","name":"削除対象設定","func":"var name = msg.topic;\nvar id = \"\";\nvar rev = \"\";\nvar created = new Date();\n\nif (Array.isArray(msg.payload)) {\n    for (i = 0; i < msg.payload.length; i++) {\n        if (name == msg.payload[i].name) {\n            if (created.getTime() > new Date(msg.payload[i].created).getTime()) {\n                id = msg.payload[i]._id;\n                rev = msg.payload[i]._rev;\n                created = new Date(msg.payload[i].created);\n            }\n        }\n    }\n}\n\nmsg.payload = id;\nmsg._id = id;\nmsg._rev = rev;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["603ea914.5dc598","b99c2dd7.248f9"]]},{"id":"603ea914.5dc598","type":"watson-natural-language-classifier","z":"6b858490.733cdc","name":"分類器削除","mode":"remove","language":"en","classifier":"","x":650,"y":180,"wires":[["4c804482.21439c"]]},{"id":"b99c2dd7.248f9","type":"function","z":"6b858490.733cdc","name":"Cloudant用設定","func":"msg.payload = { \"_id\" : msg._id, \"_rev\" : msg._rev }\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["1df0f490.22d13b"]]},{"id":"16ffc271.80f08e","type":"comment","z":"6b858490.733cdc","name":"最も古い分類器の削除（BOT判断）","info":"","x":160,"y":140,"wires":[]},{"id":"1df0f490.22d13b","type":"cloudant out","z":"6b858490.733cdc","name":"削除","cloudant":"","database":"classifiers","service":"node-red-okano-cloudantNoSQLDB","payonly":false,"operation":"delete","x":810,"y":240,"wires":[]},{"id":"4c804482.21439c","type":"debug","z":"6b858490.733cdc","name":"","active":true,"console":"false","complete":"false","x":810,"y":180,"wires":[]},{"id":"843ec669.4f2648","type":"inject","z":"6b858490.733cdc","name":"最も古い分類器の削除","topic":"emotion","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":280,"wires":[["9d75415b.492fb"]]},{"id":"b9998775.b49848","type":"comment","z":"6b858490.733cdc","name":"最も古い分類器の削除（感情）","info":"","x":150,"y":240,"wires":[]},{"id":"f17a6286.0eb19","type":"inject","z":"6b858490.733cdc","name":"分類器情報の削除","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":400,"wires":[["5c63c474.ba8cac"]]},{"id":"bb23ef43.b37bb","type":"switch","z":"6b858490.733cdc","name":"","property":"count","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":670,"y":400,"wires":[["d3d4fc32.ed4c2"],["eede0e46.424e2"]]},{"id":"eede0e46.424e2","type":"function","z":"6b858490.733cdc","name":"削除対象抽出","func":"msg.count--;\nmsg.payload = msg.target[msg.count];\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":420,"wires":[["cc5fd4a4.af5848","c0d468b3.bf7468"]]},{"id":"d3d4fc32.ed4c2","type":"debug","z":"6b858490.733cdc","name":"終了","active":true,"console":"false","complete":"count","x":790,"y":380,"wires":[]},{"id":"4997aeca.bc387","type":"delay","z":"6b858490.733cdc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":440,"wires":[["bb23ef43.b37bb"]]},{"id":"39506cac.8d8c04","type":"link in","z":"6b858490.733cdc","name":"分類器削除(in)","links":["b0fc290a.1a3e98"],"x":435,"y":440,"wires":[["4997aeca.bc387"]]},{"id":"a308ab8e.411b98","type":"comment","z":"6b858490.733cdc","name":"分類器の削除（classifier_id指定）","info":"","x":160,"y":360,"wires":[]},{"id":"c0d468b3.bf7468","type":"cloudant in","z":"6b858490.733cdc","name":"検索","cloudant":"","database":"classifiers","service":"node-red-okano-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":970,"y":460,"wires":[["71784419.d409fc"]]},{"id":"cc5fd4a4.af5848","type":"watson-natural-language-classifier","z":"6b858490.733cdc","name":"分類器削除","mode":"remove","language":"en","classifier":"","x":990,"y":420,"wires":[["9b4a2de1.9c3ec","b0fc290a.1a3e98"]]},{"id":"71784419.d409fc","type":"cloudant out","z":"6b858490.733cdc","name":"削除","cloudant":"","database":"classifiers","service":"node-red-okano-cloudantNoSQLDB","payonly":false,"operation":"delete","x":1090,"y":460,"wires":[]},{"id":"9b4a2de1.9c3ec","type":"debug","z":"6b858490.733cdc","name":"","active":true,"console":"false","complete":"false","x":1150,"y":420,"wires":[]},{"id":"b0fc290a.1a3e98","type":"link out","z":"6b858490.733cdc","name":"分類器削除(out)","links":["39506cac.8d8c04"],"x":1095,"y":380,"wires":[]},{"id":"a9123975.a1a7c8","type":"switch","z":"6fb6c32.76f473c","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":640,"y":540,"wires":[["a2161b65.db1ac8"],["cfae3dec.19ed1"]]},{"id":"a2161b65.db1ac8","type":"function","z":"6fb6c32.76f473c","name":"クエリセット","func":"msg.remains--;\n\nvar startDate = new Date(); \nvar endDate = new Date(); \nvar startHour = \"\";\nvar startMinute = \"\";\nvar endHour = \"\";\nvar endMinute = \"\";\n\nvar groupLevel;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        startDate.setHours(startDate.getHours() + 8);\n        startDate.setMinutes(startDate.getMinutes() + 1);\n        endDate.setHours(endDate.getHours() + 9);\n        endDate.setMinutes(endDate.getMinutes() + 1);\n        startHour = \",\" + startDate.getHours();\n        startMinute = \",\" + startDate.getMinutes();\n        endHour = \",\" + endDate.getHours();\n        endMinute = \",\" + endDate.getMinutes();\n        groupLevel = 7;\n        break;\n\n    case \"hourly\":\n        startDate.setDate(startDate.getDate() - 1);\n        startDate.setHours(startDate.getHours() + 10);\n        endDate.setHours(endDate.getHours() + 10);\n        startHour = \",\" + startDate.getHours();\n        endHour = \",\" + endDate.getHours();\n        groupLevel = 6;\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(startDate.getFullYear(), startDate.getMonth(), 0).getDate();\n        startDate.setDate(startDate.getDate() - endOfLastMonth + 1);\n        startDate.setHours(startDate.getHours() + 9);\n        endDate.setDate(endDate.getDate() + 1);\n        endDate.setHours(endDate.getHours() + 9);\n        groupLevel = 5;\n        break;\n\n    default:\n        break;\n}\n\nvar startYear = startDate.getFullYear();\nvar startMonth = startDate.getMonth()+1;\nvar startDay = startDate.getDate();\n\nvar endYear = endDate.getFullYear();\nvar endMonth = endDate.getMonth()+1;\nvar endDay = endDate.getDate();\n\nvar param = \"group_level=\" + groupLevel +\n            \"&startkey=[\" +\n                \"\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\",\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                \"\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\",\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_time?\" + param);\n\nmsg.now = endDate;\nmsg.groupLevel = groupLevel;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["a203006d.2f655"]]},{"id":"7669d2fd.cff8ec","type":"function","z":"6fb6c32.76f473c","name":"データ整形","func":"var level = msg.groupLevel - 2;\n\nvar count = {};\nmsg.payload.rows.forEach(function(row) {\n    if(!count[row.key[level]]) count[row.key[level]] = 0;\n    count[row.key[level]] += row.value;\n})\n\nvar data = [];\nvar timeRange;\nvar now;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        timeRange = 60;\n        now = msg.now.getMinutes();\n        break;\n\n    case \"hourly\":\n        timeRange = 24;\n        now = msg.now.getHours();\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(msg.now.getFullYear(), msg.now.getMonth(), 0).getDate();\n        timeRange = endOfLastMonth;\n        now = msg.now.getDate();\n        break;\n\n    default:\n        break;\n}\n\nfor (i=0; i < timeRange; i++) {\n    if (count[now]) {\n        data[i] = count[now];\n    } else {\n        data[i] = 0;\n    }\n\n    now++;\n    if (msg.timeRange == \"daily\" ) {\n        if (now > timeRange) now = 1;\n    } else {\n        if (now >= timeRange) now = 0;\n    }\n}\n\nmsg.data[msg.remains] = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["a9123975.a1a7c8"]]},{"id":"cfae3dec.19ed1","type":"function","z":"6fb6c32.76f473c","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\n\nvar level = msg.groupLevel - 2;\n\ngraph[0].data = msg.data;\n\nvar timeRange;\nvar now;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        timeRange = 60;\n        now = msg.now.getMinutes();\n        break;\n\n    case \"hourly\":\n        timeRange = 24;\n        now = msg.now.getHours();\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(msg.now.getFullYear(), msg.now.getMonth(), 0).getDate();\n        timeRange = endOfLastMonth;\n        now = msg.now.getDate();\n        break;\n\n    default:\n        break;\n}\n\nfor (i=0; i < timeRange; i++) {\n    graph[0].labels[i] = now;\n    \n    now++;\n    if (msg.timeRange == \"daily\" ) {\n        if (now > timeRange) now = 1;\n    } else {\n        if (now >= timeRange) now = 0;\n    }\n}\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":600,"wires":[["c45217e2.6cdb48"]]},{"id":"a203006d.2f655","type":"subflow:ad98e5a4.a398b8","z":"6fb6c32.76f473c","name":"","x":590,"y":420,"wires":[["7669d2fd.cff8ec"]]},{"id":"b503d6a9.34b318","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"432c58be.e12d88","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":360,"wires":[[],[]]},{"id":"6c4fb9b6.011d88","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"432c58be.e12d88","order":2,"width":0,"height":0,"label":"時","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":440,"wires":[[],[]]},{"id":"a7d0f7e8.f841f8","type":"ui_chart","z":"6fb6c32.76f473c","name":"","group":"432c58be.e12d88","order":3,"width":0,"height":0,"label":"日","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"31","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":520,"wires":[[],[]]},{"id":"8760cd9e.30393","type":"switch","z":"6fb6c32.76f473c","name":"単位振分","property":"timeRange","propertyType":"msg","rules":[{"t":"eq","v":"minutely","vt":"str"},{"t":"eq","v":"hourly","vt":"str"},{"t":"eq","v":"daily","vt":"str"}],"checkall":"true","outputs":3,"x":900,"y":960,"wires":[["99fa0532.959f08"],["f85c6cfb.c85ab"],["9833d378.a4c64"]]},{"id":"c37ad84e.5a65e8","type":"change","z":"6fb6c32.76f473c","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"posinega","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":440,"wires":[["1ac82f3e.7f3051"]]},{"id":"1ac82f3e.7f3051","type":"function","z":"6fb6c32.76f473c","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.data = [[]];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":700,"wires":[["a2161b65.db1ac8"]]},{"id":"f9833e43.15be4","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":360,"wires":[["c37ad84e.5a65e8"]]},{"id":"11573970.e0cbb7","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"hourly","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":440,"wires":[["c37ad84e.5a65e8"]]},{"id":"65e7fa94.dc8294","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"daily","payloadType":"str","repeat":"60","crontab":"","once":false,"x":90,"y":520,"wires":[["c37ad84e.5a65e8"]]},{"id":"4adb8b25.a352c4","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"hourly","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":700,"wires":[["a8df5993.1a4a88"]]},{"id":"ddb64cf3.0d8a2","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":620,"wires":[["a8df5993.1a4a88"]]},{"id":"4f40410c.cf162","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"daily","payloadType":"str","repeat":"60","crontab":"","once":false,"x":90,"y":780,"wires":[["a8df5993.1a4a88"]]},{"id":"64e35bce.c05bd4","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"hourly","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":960,"wires":[["6979f264.d53d5c"]]},{"id":"bd5de110.4df14","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":880,"wires":[["6979f264.d53d5c"]]},{"id":"edb1eccc.6d756","type":"inject","z":"6fb6c32.76f473c","name":"","topic":"","payload":"daily","payloadType":"str","repeat":"60","crontab":"","once":false,"x":90,"y":1040,"wires":[["6979f264.d53d5c"]]},{"id":"c45217e2.6cdb48","type":"switch","z":"6fb6c32.76f473c","name":"分類器振分","property":"classifier","propertyType":"msg","rules":[{"t":"eq","v":"posinega","vt":"str"},{"t":"eq","v":"isbot","vt":"str"},{"t":"eq","v":"emotion","vt":"str"}],"checkall":"true","outputs":3,"x":730,"y":700,"wires":[["96710420.2bd8d8"],["9c8c7c32.6d263"],["8760cd9e.30393"]]},{"id":"96710420.2bd8d8","type":"switch","z":"6fb6c32.76f473c","name":"単位振分","property":"timeRange","propertyType":"msg","rules":[{"t":"eq","v":"minutely","vt":"str"},{"t":"eq","v":"hourly","vt":"str"},{"t":"eq","v":"daily","vt":"str"}],"checkall":"true","outputs":3,"x":900,"y":440,"wires":[["b503d6a9.34b318"],["6c4fb9b6.011d88"],["a7d0f7e8.f841f8"]]},{"id":"9c8c7c32.6d263","type":"switch","z":"6fb6c32.76f473c","name":"単位振分","property":"timeRange","propertyType":"msg","rules":[{"t":"eq","v":"minutely","vt":"str"},{"t":"eq","v":"hourly","vt":"str"},{"t":"eq","v":"daily","vt":"str"}],"checkall":"true","outputs":3,"x":900,"y":700,"wires":[["8d0d8aaa.1ed338"],["b3b3643f.8aa568"],["be748036.aa078"]]},{"id":"406f73d4.2922cc","type":"comment","z":"6fb6c32.76f473c","name":"Tweet内訳","info":"","x":60,"y":1120,"wires":[]},{"id":"6a99ab6e.4b78b4","type":"function","z":"6fb6c32.76f473c","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.count = [];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1700,"wires":[["dafbaa64.96cdb8"]]},{"id":"eb5dd70b.68a748","type":"switch","z":"6fb6c32.76f473c","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":300,"y":1820,"wires":[["dafbaa64.96cdb8"],["7932959c.cc720c"]]},{"id":"dafbaa64.96cdb8","type":"function","z":"6fb6c32.76f473c","name":"クエリセット","func":"msg.remains--;\nvar param = \"key=\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\"\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_class?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1760,"wires":[["d7b9c7c5.7e5ac8"]]},{"id":"7932959c.cc720c","type":"function","z":"6fb6c32.76f473c","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\ngraph[0].data[0] = msg.count;\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1820,"wires":[["60bdace1.657454"]]},{"id":"6d9a39b5.27e658","type":"change","z":"6fb6c32.76f473c","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"posinega","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1700,"wires":[["6a99ab6e.4b78b4"]]},{"id":"d7b9c7c5.7e5ac8","type":"subflow:ad98e5a4.a398b8","z":"6fb6c32.76f473c","name":"","x":450,"y":1760,"wires":[["b2881aee.615a18"]]},{"id":"b2881aee.615a18","type":"function","z":"6fb6c32.76f473c","name":"カウントセット","func":"msg.count[msg.remains] = msg.payload.rows[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1760,"wires":[["eb5dd70b.68a748"]]},{"id":"c5433234.b4938","type":"function","z":"6fb6c32.76f473c","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.count = [];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1900,"wires":[["7cda7a00.0ed468"]]},{"id":"20a115c0.bfc83a","type":"function","z":"6fb6c32.76f473c","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\ngraph[0].data[0] = msg.count;\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":2020,"wires":[["bf252796.61a8d8"]]},{"id":"9a867911.55a988","type":"subflow:ad98e5a4.a398b8","z":"6fb6c32.76f473c","name":"","x":450,"y":1960,"wires":[["8fe64cb.c6a35b"]]},{"id":"7cda7a00.0ed468","type":"function","z":"6fb6c32.76f473c","name":"クエリセット","func":"msg.remains--;\nvar param = \"key=\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\"\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_class?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1960,"wires":[["9a867911.55a988"]]},{"id":"5892c7ec.11a2c8","type":"switch","z":"6fb6c32.76f473c","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":300,"y":2020,"wires":[["7cda7a00.0ed468"],["20a115c0.bfc83a"]]},{"id":"8fe64cb.c6a35b","type":"function","z":"6fb6c32.76f473c","name":"カウントセット","func":"msg.count[msg.remains] = msg.payload.rows[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1960,"wires":[["5892c7ec.11a2c8"]]},{"id":"97475658.7bc4c8","type":"function","z":"6fb6c32.76f473c","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.count = [];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":2100,"wires":[["6f1f0740.38d728"]]},{"id":"da5174a2.575428","type":"function","z":"6fb6c32.76f473c","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\ngraph[0].data[0] = msg.count;\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":2220,"wires":[["c20223f6.8082b"]]},{"id":"aebc52ab.bf2b8","type":"subflow:ad98e5a4.a398b8","z":"6fb6c32.76f473c","name":"","x":450,"y":2160,"wires":[["b54d23b5.e0577"]]},{"id":"6f1f0740.38d728","type":"function","z":"6fb6c32.76f473c","name":"クエリセット","func":"msg.remains--;\nvar param = \"key=\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\"\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_class?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":2160,"wires":[["aebc52ab.bf2b8"]]},{"id":"ff8e5b7c.b14668","type":"switch","z":"6fb6c32.76f473c","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":300,"y":2220,"wires":[["6f1f0740.38d728"],["da5174a2.575428"]]},{"id":"b54d23b5.e0577","type":"function","z":"6fb6c32.76f473c","name":"カウントセット","func":"msg.count[msg.remains] = msg.payload.rows[0].value;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2160,"wires":[["ff8e5b7c.b14668"]]}]
