editor/aistarter_nodered_twitter.json
[{"id":"9a023973.2aed78","type":"tab","label":"SBAnalyzer","disabled":false,"info":""},{"id":"5f46a469.f9ffac","type":"tab","label":"Cloudant初期設定","disabled":false,"info":""},{"id":"cf483c01.262ab","type":"tab","label":"分類器作成","disabled":false,"info":""},{"id":"e5def551.32e878","type":"tab","label":"分類器削除","disabled":false,"info":""},{"id":"418e53d5.d2fd1c","type":"subflow","name":"リクエスト","info":"","in":[{"x":20,"y":100,"wires":[{"id":"fcd78717.566548"}]}],"out":[{"x":1220,"y":60,"wires":[{"id":"1be3d837.4a2888","port":0},{"id":"d96b22c5.6b816","port":0}]}]},{"id":"6fa6cbb5.8023b4","type":"ui_group","z":"","name":"ポジネガ","tab":"2f4e1dce.b1cff2","order":1,"disp":true,"width":"6"},{"id":"7a4f9257.9be62c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2f4e1dce.b1cff2","type":"ui_tab","z":"","name":"SBTwitter","icon":"dashboard"},{"id":"48dcbf1e.48d02","type":"ui_group","z":"","name":"BOT判断","tab":"2f4e1dce.b1cff2","disp":true,"width":"6"},{"id":"66bb1d50.a9a334","type":"ui_group","z":"","name":"感情分類","tab":"2f4e1dce.b1cff2","disp":true,"width":"6"},{"id":"72bda3db.8de45c","type":"ui_group","z":"","name":"Tweet内訳","tab":"2f4e1dce.b1cff2","disp":true,"width":"24"},{"id":"ca3be2dd.873bd","type":"ui_group","z":"","name":"トータル","tab":"2f4e1dce.b1cff2","disp":true,"width":"6"},{"id":"58e4de02.3697d","type":"twitter in","z":"9a023973.2aed78","twitter":"","tags":"","user":"false","name":"ツイート収集","topic":"tweets","inputs":1,"x":90,"y":80,"wires":[["2e159270.76e6fe"]]},{"id":"c6251a62.5bca58","type":"watson-natural-language-classifier","z":"9a023973.2aed78","name":"NLC:ポジネガ判定","mode":"classify","language":"en","classifier":"","x":390,"y":140,"wires":[["723ec33e.6b66dc"]]},{"id":"e59b3929.2cfc48","type":"watson-natural-language-classifier","z":"9a023973.2aed78","name":"NLC:BOT判断","mode":"classify","language":"en","classifier":"","x":420,"y":80,"wires":[["91648443.a0f588","723ec33e.6b66dc"]]},{"id":"c6315354.0d31f","type":"watson-natural-language-classifier","z":"9a023973.2aed78","name":"NLC:感情分類","mode":"classify","language":"en","classifier":"","x":380,"y":180,"wires":[["723ec33e.6b66dc"]]},{"id":"52647723.e3ddb8","type":"comment","z":"9a023973.2aed78","name":"ツイートの収集、登録","info":"","x":100,"y":40,"wires":[]},{"id":"6f2b51b7.d75b1","type":"ui_dropdown","z":"9a023973.2aed78","name":"","label":"","place":"時","group":"6fa6cbb5.8023b4","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1260,"wires":[["3f68ed9b.833dd2"]]},{"id":"6f5b7b26.c0a8e4","type":"ui_date_picker","z":"9a023973.2aed78","name":"","label":"","group":"6fa6cbb5.8023b4","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1220,"wires":[["9c903216.ce481"]]},{"id":"26d3e576.fcce9a","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"48dcbf1e.48d02","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":680,"wires":[[],[]]},{"id":"eaee690e.db43a8","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"48dcbf1e.48d02","order":2,"width":0,"height":0,"label":"時","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":760,"wires":[[],[]]},{"id":"18689aa.0032a65","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"48dcbf1e.48d02","order":3,"width":0,"height":0,"label":"日","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"31","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":840,"wires":[[],[]]},{"id":"f7ab3044.16807","type":"ui_dropdown","z":"9a023973.2aed78","name":"","label":"","place":"時","group":"48dcbf1e.48d02","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1400,"wires":[["43a9f365.e3cd8c"]]},{"id":"6776b11f.80fe6","type":"ui_date_picker","z":"9a023973.2aed78","name":"","label":"","group":"48dcbf1e.48d02","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1360,"wires":[["c1d7e1da.c0c95"]]},{"id":"513c95c3.248e0c","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"66bb1d50.a9a334","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":940,"wires":[[],[]]},{"id":"c5172d5a.9df5e","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"66bb1d50.a9a334","order":2,"width":0,"height":0,"label":"時","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":1020,"wires":[[],[]]},{"id":"23010cab.57eea4","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"66bb1d50.a9a334","order":3,"width":0,"height":0,"label":"日","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"31","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":1100,"wires":[[],[]]},{"id":"7bf1f7da.8381b8","type":"ui_dropdown","z":"9a023973.2aed78","name":"","label":"","place":"時","group":"66bb1d50.a9a334","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1540,"wires":[["e0810110.f466e"]]},{"id":"925f1279.ad2e3","type":"ui_date_picker","z":"9a023973.2aed78","name":"","label":"","group":"66bb1d50.a9a334","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1500,"wires":[["1820d8d6.786d17"]]},{"id":"a45bd12b.dd67e","type":"ui_dropdown","z":"9a023973.2aed78","name":"","label":"","place":"分","group":"6fa6cbb5.8023b4","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":24,"type":"num"},{"label":"","value":25,"type":"num"},{"label":"","value":26,"type":"num"},{"label":"","value":27,"type":"num"},{"label":"","value":28,"type":"num"},{"label":"","value":29,"type":"num"},{"label":"","value":30,"type":"num"},{"label":"","value":31,"type":"num"},{"label":"","value":32,"type":"num"},{"label":"","value":33,"type":"num"},{"label":"","value":34,"type":"num"},{"label":"","value":35,"type":"num"},{"label":"","value":36,"type":"num"},{"label":"","value":37,"type":"num"},{"label":"","value":38,"type":"num"},{"label":"","value":39,"type":"num"},{"label":"","value":40,"type":"num"},{"label":"","value":41,"type":"num"},{"label":"","value":42,"type":"num"},{"label":"","value":43,"type":"num"},{"label":"","value":44,"type":"num"},{"label":"","value":45,"type":"num"},{"label":"","value":46,"type":"num"},{"label":"","value":47,"type":"num"},{"label":"","value":48,"type":"num"},{"label":"","value":49,"type":"num"},{"label":"","value":50,"type":"num"},{"label":"","value":51,"type":"num"},{"label":"","value":52,"type":"num"},{"label":"","value":53,"type":"num"},{"label":"","value":54,"type":"num"},{"label":"","value":55,"type":"num"},{"label":"","value":56,"type":"num"},{"label":"","value":57,"type":"num"},{"label":"","value":58,"type":"num"},{"label":"","value":59,"type":"num"},{"label":"","value":60,"type":"num"}],"payload":"","topic":"","x":80,"y":1300,"wires":[["7b739a5d.90f744"]]},{"id":"54131689.969578","type":"comment","z":"9a023973.2aed78","name":"ポジネガグラフ","info":"","x":80,"y":380,"wires":[]},{"id":"57a14019.e8574","type":"ui_dropdown","z":"9a023973.2aed78","name":"","label":"","place":"分","group":"48dcbf1e.48d02","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"},{"label":"","value":"28","type":"str"},{"label":"","value":"29","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"31","type":"str"},{"label":"","value":"32","type":"str"},{"label":"","value":"33","type":"str"},{"label":"","value":"34","type":"str"},{"label":"","value":"35","type":"str"},{"label":"","value":"36","type":"str"},{"label":"","value":"37","type":"str"},{"label":"","value":"38","type":"str"},{"label":"","value":"39","type":"str"},{"label":"","value":"40","type":"str"},{"label":"","value":"41","type":"str"},{"label":"","value":"42","type":"str"},{"label":"","value":"43","type":"str"},{"label":"","value":"44","type":"str"},{"label":"","value":"45","type":"str"},{"label":"","value":"46","type":"str"},{"label":"","value":"47","type":"str"},{"label":"","value":"48","type":"str"},{"label":"","value":"49","type":"str"},{"label":"","value":"50","type":"str"},{"label":"","value":"51","type":"str"},{"label":"","value":"52","type":"str"},{"label":"","value":"53","type":"str"},{"label":"","value":"54","type":"str"},{"label":"","value":"55","type":"str"},{"label":"","value":"56","type":"str"},{"label":"","value":"57","type":"str"},{"label":"","value":"58","type":"str"},{"label":"","value":"59","type":"str"},{"label":"","value":"60","type":"str"}],"payload":"","topic":"","x":80,"y":1440,"wires":[["d4f58666.9be4b8"]]},{"id":"87b610d2.dc9ac","type":"ui_dropdown","z":"9a023973.2aed78","name":"","label":"","place":"分","group":"66bb1d50.a9a334","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"},{"label":"","value":"28","type":"str"},{"label":"","value":"29","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"31","type":"str"},{"label":"","value":"32","type":"str"},{"label":"","value":"33","type":"str"},{"label":"","value":"34","type":"str"},{"label":"","value":"35","type":"str"},{"label":"","value":"36","type":"str"},{"label":"","value":"37","type":"str"},{"label":"","value":"38","type":"str"},{"label":"","value":"39","type":"str"},{"label":"","value":"40","type":"str"},{"label":"","value":"41","type":"str"},{"label":"","value":"42","type":"str"},{"label":"","value":"43","type":"str"},{"label":"","value":"44","type":"str"},{"label":"","value":"45","type":"str"},{"label":"","value":"46","type":"str"},{"label":"","value":"47","type":"str"},{"label":"","value":"48","type":"str"},{"label":"","value":"49","type":"str"},{"label":"","value":"50","type":"str"},{"label":"","value":"51","type":"str"},{"label":"","value":"52","type":"str"},{"label":"","value":"53","type":"str"},{"label":"","value":"54","type":"str"},{"label":"","value":"55","type":"str"},{"label":"","value":"56","type":"str"},{"label":"","value":"57","type":"str"},{"label":"","value":"58","type":"str"},{"label":"","value":"59","type":"str"},{"label":"","value":"60","type":"str"}],"payload":"","topic":"","x":80,"y":1580,"wires":[["4921ff0a.d1117"]]},{"id":"1ca99de3.6a4992","type":"ui_template","z":"9a023973.2aed78","group":"72bda3db.8de45c","name":"Tweet内訳","order":0,"width":"24","height":"10","format":"<div>\n<table style=\"width:100%\">\n  <tr>\n    <th>No.</th>\n    <th>Class</th>\n    <th>年</th>\n    <th>月</th>\n    <th>日</th>\n    <th>時</th>\n    <th>分</th>\n    <th>Tweet</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload.rows | limitTo:1000\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload.rows[$index].value[0]}}</td>\n    <td>{{msg.payload.rows[$index].value[2]}}</td>\n    <td>{{msg.payload.rows[$index].value[3]}}</td>\n    <td>{{msg.payload.rows[$index].value[4]}}</td>\n    <td>{{msg.payload.rows[$index].value[5]}}</td>\n    <td>{{msg.payload.rows[$index].value[6]}}</td>\n    <td>{{msg.payload.rows[$index].value[1]}}</td> \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":150,"y":1640,"wires":[[]]},{"id":"806a47bc.2999e8","type":"debug","z":"9a023973.2aed78","name":"","active":false,"console":"false","complete":"true","x":570,"y":1220,"wires":[]},{"id":"19b2f697.cad9a9","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"var classifierName = \"posinega\";\nvar viewName = \"posi_nega_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nmsg.date = date;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1260,"wires":[["806a47bc.2999e8","f9e77bd3.149778"]]},{"id":"9c903216.ce481","type":"change","z":"9a023973.2aed78","name":"日付セット","rules":[{"t":"set","p":"posinega.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1220,"wires":[["19b2f697.cad9a9"]]},{"id":"3f68ed9b.833dd2","type":"change","z":"9a023973.2aed78","name":"時セット","rules":[{"t":"set","p":"posinega.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1260,"wires":[["19b2f697.cad9a9"]]},{"id":"7b739a5d.90f744","type":"change","z":"9a023973.2aed78","name":"分セット","rules":[{"t":"set","p":"posinega.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1300,"wires":[["19b2f697.cad9a9"]]},{"id":"e9dd9cae.98a39","type":"debug","z":"9a023973.2aed78","name":"","active":false,"console":"false","complete":"true","x":730,"y":1220,"wires":[]},{"id":"82f9b22f.69a59","type":"debug","z":"9a023973.2aed78","name":"","active":false,"console":"false","complete":"true","x":570,"y":1360,"wires":[]},{"id":"583f1685.90a088","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"var classifierName = \"isbot\";\nvar viewName = \"isbot_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1400,"wires":[["82f9b22f.69a59","fb43e7ef.3a1698"]]},{"id":"c1d7e1da.c0c95","type":"change","z":"9a023973.2aed78","name":"日付セット","rules":[{"t":"set","p":"isbot.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1360,"wires":[["583f1685.90a088"]]},{"id":"43a9f365.e3cd8c","type":"change","z":"9a023973.2aed78","name":"時セット","rules":[{"t":"set","p":"isbot.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1400,"wires":[["583f1685.90a088"]]},{"id":"d4f58666.9be4b8","type":"change","z":"9a023973.2aed78","name":"分セット","rules":[{"t":"set","p":"isbot.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1440,"wires":[["583f1685.90a088"]]},{"id":"85f59fe8.50e6","type":"debug","z":"9a023973.2aed78","name":"","active":false,"console":"false","complete":"true","x":730,"y":1360,"wires":[]},{"id":"37d3390f.c95bf6","type":"debug","z":"9a023973.2aed78","name":"","active":false,"console":"false","complete":"true","x":570,"y":1500,"wires":[]},{"id":"c22e3c20.cb0b9","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"var classifierName = \"emotion\";\nvar viewName = \"emotion_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1540,"wires":[["37d3390f.c95bf6","b82ab473.c3cf38"]]},{"id":"1820d8d6.786d17","type":"change","z":"9a023973.2aed78","name":"日付セット","rules":[{"t":"set","p":"emotion.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1500,"wires":[["c22e3c20.cb0b9"]]},{"id":"e0810110.f466e","type":"change","z":"9a023973.2aed78","name":"時セット","rules":[{"t":"set","p":"emotion.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1540,"wires":[["c22e3c20.cb0b9"]]},{"id":"4921ff0a.d1117","type":"change","z":"9a023973.2aed78","name":"分セット","rules":[{"t":"set","p":"emotion.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1580,"wires":[["c22e3c20.cb0b9"]]},{"id":"a390a689.a456a8","type":"debug","z":"9a023973.2aed78","name":"","active":false,"console":"false","complete":"true","x":730,"y":1500,"wires":[]},{"id":"7541c477.78f59c","type":"comment","z":"9a023973.2aed78","name":"BOT判断グラフ","info":"","x":80,"y":640,"wires":[]},{"id":"cddfd3fd.36f49","type":"comment","z":"9a023973.2aed78","name":"感情分類グラフ","info":"","x":80,"y":900,"wires":[]},{"id":"9302747e.a387f8","type":"link out","z":"9a023973.2aed78","name":"Tweet内訳","links":["21c813c0.74903c"],"x":695,"y":1260,"wires":[]},{"id":"21c813c0.74903c","type":"link in","z":"9a023973.2aed78","name":"Tweet内訳","links":["9302747e.a387f8","4000d6b7.ef0118","e41a825.55c118"],"x":35,"y":1640,"wires":[["1ca99de3.6a4992"]]},{"id":"c7dacd65.8b046","type":"comment","z":"9a023973.2aed78","name":"Tweet内訳へ","info":"","x":790,"y":1260,"wires":[]},{"id":"4000d6b7.ef0118","type":"link out","z":"9a023973.2aed78","name":"Tweet内訳","links":["21c813c0.74903c"],"x":695,"y":1400,"wires":[]},{"id":"70f451fb.cc33e","type":"comment","z":"9a023973.2aed78","name":"Tweet内訳へ","info":"","x":790,"y":1400,"wires":[]},{"id":"e41a825.55c118","type":"link out","z":"9a023973.2aed78","name":"Tweet内訳","links":["21c813c0.74903c"],"x":695,"y":1540,"wires":[]},{"id":"4c517f58.01aa7","type":"comment","z":"9a023973.2aed78","name":"Tweet内訳へ","info":"","x":790,"y":1540,"wires":[]},{"id":"867f1793.9453a8","type":"change","z":"9a023973.2aed78","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"isbot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":760,"wires":[["8205aec6.407d1"]]},{"id":"ffd4267a.6aed58","type":"change","z":"9a023973.2aed78","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"emotion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1020,"wires":[["8205aec6.407d1"]]},{"id":"ec2c8d2b.79f09","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"ca3be2dd.873bd","order":0,"width":0,"height":0,"label":"ポジネガ","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":1880,"wires":[[],[]]},{"id":"fc2c342c.c013a8","type":"comment","z":"9a023973.2aed78","name":"トータル円グラフ","info":"","x":90,"y":1720,"wires":[]},{"id":"1fe695eb.06d73a","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"ca3be2dd.873bd","order":0,"width":0,"height":0,"label":"BOT判断","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":2080,"wires":[[],[]]},{"id":"d5397b7.7409c88","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":1760,"wires":[["cd12380a.1c4b68"]]},{"id":"69289f0c.d3c18","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":1960,"wires":[["cd6e9930.35b838"]]},{"id":"8e04c2b0.08bb1","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":2160,"wires":[["3e588800.1bd6e8"]]},{"id":"cd6e9930.35b838","type":"change","z":"9a023973.2aed78","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"isbot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1960,"wires":[["7cad3e70.41a84"]]},{"id":"3e588800.1bd6e8","type":"change","z":"9a023973.2aed78","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"emotion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":2160,"wires":[["1562e309.6e623d"]]},{"id":"a8044a95.bbae08","type":"function","z":"5f46a469.f9ffac","name":"Database作成クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\"));\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["fe6b3527.13ef58"]]},{"id":"fe6b3527.13ef58","type":"http request","z":"5f46a469.f9ffac","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":550,"y":140,"wires":[["506a42fc.7853ec"]]},{"id":"9f22f56c.0be7a8","type":"function","z":"5f46a469.f9ffac","name":"view作成クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view\");\n\n//作成するviewの中身をmsg.payloadに格納する\nmsg.payload = {\n  \"_id\": \"_design/view\",\n  \"views\": {\n    \"count_by_time\": {\n      \"reduce\": \"_count\",\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    //32400000ms足すことで日本時間に合わせる\\n    date = new Date(msec+32400000);\\n    emit([doc.payload.top_class,\\n          date.getFullYear(),\\n          date.getMonth()+1,\\n          date.getDate(),\\n          date.getHours(),\\n          date.getMinutes(),\\n          date.getSeconds()\\n        ]);\\n  }\\n}\"\n    },\n    \"posi_nega_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    if (doc.payload.top_class == \\\"positive\\\" ||\\n        doc.payload.top_class == \\\"neutral\\\" ||\\n        doc.payload.top_class == \\\"negative\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.payload.top_class,\\n            doc.tweet.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    },\n    \"isbot_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    if (doc.payload.top_class == \\\"person\\\" ||\\n        doc.payload.top_class == \\\"others\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.payload.top_class,\\n            doc.tweet.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    },\n    \"count_by_class\": {\n      \"reduce\": \"_count\",\n      \"map\": \"function (doc) {\\n  if (doc.payload.top_class) {\\n    emit(doc.payload.top_class);\\n  }\\n}\"\n    },\n    \"emotion_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    if (doc.payload.top_class == \\\"喜\\\" ||\\n        doc.payload.top_class == \\\"怒\\\" ||\\n        doc.payload.top_class == \\\"哀\\\" ||\\n        doc.payload.top_class == \\\"楽\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.payload.top_class,\\n            doc.tweet.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    },\n    \"sort_by_date\": {\n      \"map\": \"function (doc) {\\n  if (doc.tweet.created_at) {\\n    msec = Date.parse(doc.tweet.created_at);\\n    tweetDate = new Date(msec);\\n    tweetDate.setHours(tweetDate.getHours() + 9);\\n    emit([tweetDate.getFullYear(),\\n          tweetDate.getMonth()+1,\\n          tweetDate.getDate(),\\n          tweetDate.getHours(),\\n          tweetDate.getMinutes(),\\n          tweetDate.getSeconds()],doc);\\n  }\\n}\"\n    }\n  },\n  \"language\": \"javascript\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["8c7be3bb.45c83"]]},{"id":"8c7be3bb.45c83","type":"http request","z":"5f46a469.f9ffac","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":550,"y":180,"wires":[["294e5123.c74d2e"]]},{"id":"9220d4dd.99ccd8","type":"change","z":"5f46a469.f9ffac","name":"Cloudant 設定","rules":[{"t":"set","p":"cloudant.url","pt":"global","to":"","tot":"str"},{"t":"set","p":"cloudant.dbname","pt":"global","to":"twitter_data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":40,"wires":[[]]},{"id":"d317a49d.d558b8","type":"inject","z":"5f46a469.f9ffac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":40,"wires":[["9220d4dd.99ccd8"]]},{"id":"e58b07bf.70bdd8","type":"inject","z":"5f46a469.f9ffac","name":"Database作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":140,"wires":[["a8044a95.bbae08"]]},{"id":"ba40d351.ddac5","type":"inject","z":"5f46a469.f9ffac","name":"view作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["9f22f56c.0be7a8"]]},{"id":"506a42fc.7853ec","type":"debug","z":"5f46a469.f9ffac","name":"","active":true,"console":"false","complete":"false","x":710,"y":140,"wires":[]},{"id":"294e5123.c74d2e","type":"debug","z":"5f46a469.f9ffac","name":"","active":true,"console":"false","complete":"false","x":710,"y":180,"wires":[]},{"id":"4d0b20df.bda3e","type":"inject","z":"cf483c01.262ab","name":"学習データをセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":80,"wires":[["ec70212c.fe447"]]},{"id":"933e0a29.a1af18","type":"comment","z":"cf483c01.262ab","name":"NLCに分類器（ポジネガ）作成","info":"","x":150,"y":40,"wires":[]},{"id":"ec70212c.fe447","type":"template","z":"cf483c01.262ab","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":410,"y":80,"wires":[["72aead5c.980c44"]]},{"id":"8e5f653.eaa4798","type":"debug","z":"cf483c01.262ab","name":"","active":true,"console":"false","complete":"payload","x":830,"y":40,"wires":[]},{"id":"9365eee0.66df8","type":"inject","z":"cf483c01.262ab","name":"学習データをセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":220,"wires":[["321bc072.ddb08"]]},{"id":"321bc072.ddb08","type":"template","z":"cf483c01.262ab","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":410,"y":220,"wires":[["c4631e64.1b23a"]]},{"id":"c4631e64.1b23a","type":"watson-natural-language-classifier","z":"cf483c01.262ab","name":"分類器作成・トレーニング","mode":"create","language":"ja","classifier":"","x":620,"y":220,"wires":[["8b16c7e5.5718a8","ac8e4b0a.52c308"]]},{"id":"8b16c7e5.5718a8","type":"debug","z":"cf483c01.262ab","name":"","active":true,"console":"false","complete":"false","x":830,"y":180,"wires":[]},{"id":"ca5f6e2f.a6159","type":"comment","z":"cf483c01.262ab","name":"NLCに分類器（BOT判断）作成","info":"","x":150,"y":180,"wires":[]},{"id":"37e7ae17.f598a2","type":"template","z":"cf483c01.262ab","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":410,"y":360,"wires":[["92117254.1d7a4"]]},{"id":"293a0980.b22c96","type":"inject","z":"cf483c01.262ab","name":"学習データをセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":360,"wires":[["37e7ae17.f598a2"]]},{"id":"92117254.1d7a4","type":"watson-natural-language-classifier","z":"cf483c01.262ab","name":"分類器作成・トレーニング","mode":"create","language":"ja","classifier":"","x":620,"y":360,"wires":[["452688b1.dd3978","efef51ac.c36f6"]]},{"id":"452688b1.dd3978","type":"debug","z":"cf483c01.262ab","name":"","active":true,"console":"false","complete":"false","x":830,"y":320,"wires":[]},{"id":"7850d192.71478","type":"comment","z":"cf483c01.262ab","name":"NLCに分類器（感情）作成","info":"","x":130,"y":320,"wires":[]},{"id":"e1f5dcaf.4a2e2","type":"comment","z":"cf483c01.262ab","name":"NLCに登録済みの分類器一覧確認","info":"","x":150,"y":460,"wires":[]},{"id":"71555a7b.cfef74","type":"inject","z":"cf483c01.262ab","name":"分類器情報の確認","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":500,"wires":[["622a7c19.844824"]]},{"id":"329eb8c1.acbe58","type":"debug","z":"cf483c01.262ab","name":"","active":true,"console":"false","complete":"payload","x":450,"y":500,"wires":[]},{"id":"72aead5c.980c44","type":"watson-natural-language-classifier","z":"cf483c01.262ab","name":"分類器作成・トレーニング","mode":"create","language":"ja","classifier":"","x":620,"y":80,"wires":[["8e5f653.eaa4798","ecdf6f22.b4ad9"]]},{"id":"5c3ce5bc.79214c","type":"catch","z":"cf483c01.262ab","name":"Cloudant Insertリトライ","scope":["741e393d.32d228"],"x":690,"y":120,"wires":[["196a95ed.85935a"]]},{"id":"dca7c21e.790b2","type":"function","z":"cf483c01.262ab","name":"クエリセット","func":"var name = \"posinega\";\n\nmsg.payload = {\n    \"_id\" : msg.classifier.classifier_id,\n    \"classifier_id\" : msg.classifier.classifier_id,\n    \"name\" : name,\n    \"created\" : msg.classifier.created\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":80,"wires":[["741e393d.32d228"]]},{"id":"ecdf6f22.b4ad9","type":"change","z":"cf483c01.262ab","name":"","rules":[{"t":"set","p":"classifier","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":80,"wires":[["dca7c21e.790b2"]]},{"id":"196a95ed.85935a","type":"delay","z":"cf483c01.262ab","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":880,"y":120,"wires":[["dca7c21e.790b2"]]},{"id":"ebe27d73.b2034","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":300,"wires":[["c2d2fe1a.17d8a"]]},{"id":"c2d2fe1a.17d8a","type":"change","z":"9a023973.2aed78","name":"NLC設定","rules":[{"t":"set","p":"posinega","pt":"global","to":"{\"class\":[\"positive\",\"neutral\",\"negative\"]}","tot":"json"},{"t":"set","p":"isbot","pt":"global","to":"{\"class\":[\"person\",\"others\"]}","tot":"json"},{"t":"set","p":"emotion","pt":"global","to":"{\"class\":[\"喜\",\"怒\",\"哀\",\"楽\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":300,"wires":[[]]},{"id":"50b03511.8a735c","type":"catch","z":"cf483c01.262ab","name":"Cloudant Insertリトライ","scope":["741e393d.32d228"],"x":690,"y":260,"wires":[["7f0c9bda.8720b4"]]},{"id":"7f0c9bda.8720b4","type":"delay","z":"cf483c01.262ab","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":880,"y":260,"wires":[["947752d5.9b8e5"]]},{"id":"ac8e4b0a.52c308","type":"change","z":"cf483c01.262ab","name":"","rules":[{"t":"set","p":"classifier","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":220,"wires":[["947752d5.9b8e5"]]},{"id":"947752d5.9b8e5","type":"function","z":"cf483c01.262ab","name":"クエリセット","func":"var name = \"isbot\";\n\nmsg.payload = {\n    \"_id\" : msg.classifier.classifier_id,\n    \"classifier_id\" : msg.classifier.classifier_id,\n    \"name\" : name,\n    \"created\" : msg.classifier.created\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":220,"wires":[["741e393d.32d228"]]},{"id":"741e393d.32d228","type":"cloudant out","z":"cf483c01.262ab","name":"Insert","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1190,"y":220,"wires":[]},{"id":"abfe89b6.0d8698","type":"catch","z":"cf483c01.262ab","name":"Cloudant Insertリトライ","scope":["741e393d.32d228"],"x":690,"y":400,"wires":[["d23e4933.874068"]]},{"id":"d23e4933.874068","type":"delay","z":"cf483c01.262ab","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":880,"y":400,"wires":[["c470a96a.b4cf78"]]},{"id":"efef51ac.c36f6","type":"change","z":"cf483c01.262ab","name":"","rules":[{"t":"set","p":"classifier","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":360,"wires":[["c470a96a.b4cf78"]]},{"id":"c470a96a.b4cf78","type":"function","z":"cf483c01.262ab","name":"クエリセット","func":"var name = \"emotion\";\n\nmsg.payload = {\n    \"_id\" : msg.classifier.classifier_id,\n    \"classifier_id\" : msg.classifier.classifier_id,\n    \"name\" : name,\n    \"created\" : msg.classifier.created\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":360,"wires":[["741e393d.32d228"]]},{"id":"90a64bf8.3eef08","type":"comment","z":"cf483c01.262ab","name":"分類器の状態確認（classifier_id指定）","info":"","x":170,"y":580,"wires":[]},{"id":"c29cc41b.aa5758","type":"watson-natural-language-classifier","z":"cf483c01.262ab","name":"分類器状態確認","mode":"classify","language":"en","classifier":"","x":320,"y":620,"wires":[["d649ccb0.de0ea"]]},{"id":"d649ccb0.de0ea","type":"debug","z":"cf483c01.262ab","name":"","active":true,"console":"false","complete":"payload","x":490,"y":620,"wires":[]},{"id":"271191d4.dabd8e","type":"inject","z":"cf483c01.262ab","name":"分類器状態確認","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":620,"wires":[["c29cc41b.aa5758"]]},{"id":"622a7c19.844824","type":"cloudant in","z":"cf483c01.262ab","name":"検索","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":310,"y":500,"wires":[["329eb8c1.acbe58"]]},{"id":"ce6ce349.54a86","type":"cloudant out","z":"9a023973.2aed78","name":"ツイート情報登録","cloudant":"","database":"twitter_data","service":"node-red-twitter-okano-cloudantNoSQLDB","payonly":false,"operation":"insert","x":770,"y":180,"wires":[]},{"id":"7ec34a18.f77ee4","type":"change","z":"9a023973.2aed78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[["c6251a62.5bca58","c6315354.0d31f"]]},{"id":"91648443.a0f588","type":"switch","z":"9a023973.2aed78","name":"人のみ","property":"payload.top_class","propertyType":"msg","rules":[{"t":"eq","v":"person","vt":"str"}],"checkall":"true","outputs":1,"x":570,"y":80,"wires":[["7ec34a18.f77ee4"]]},{"id":"723ec33e.6b66dc","type":"delay","z":"9a023973.2aed78","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":180,"wires":[["ce6ce349.54a86"]]},{"id":"2e159270.76e6fe","type":"switch","z":"9a023973.2aed78","name":"日本語のみ","property":"lang","propertyType":"msg","rules":[{"t":"eq","v":"ja","vt":"str"}],"checkall":"true","outputs":1,"x":250,"y":80,"wires":[["e59b3929.2cfc48"]]},{"id":"53882930.cd8738","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"x":470,"y":300,"wires":[["95db42e1.0fd6d"]]},{"id":"95db42e1.0fd6d","type":"change","z":"9a023973.2aed78","name":"流量制限用","rules":[{"t":"set","p":"request.count","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[[]]},{"id":"b2090f27.d9c89","type":"delay","z":"418e53d5.d2fd1c","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"200","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":270,"y":160,"wires":[["441dee90.b203c"]]},{"id":"441dee90.b203c","type":"switch","z":"418e53d5.d2fd1c","name":"流量制限","property":"request.count","propertyType":"global","rules":[{"t":"lt","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":260,"y":100,"wires":[["9ffff38b.1b705"],["b2090f27.d9c89"]]},{"id":"f2fa4bbc.09f5a8","type":"http request","z":"418e53d5.d2fd1c","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":80,"wires":[["1be3d837.4a2888"]]},{"id":"fcd78717.566548","type":"delay","z":"418e53d5.d2fd1c","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1000","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":120,"y":100,"wires":[["441dee90.b203c"]]},{"id":"f9e77bd3.149778","type":"http request","z":"9a023973.2aed78","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1260,"wires":[["9302747e.a387f8","e9dd9cae.98a39"]]},{"id":"fb43e7ef.3a1698","type":"http request","z":"9a023973.2aed78","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1400,"wires":[["4000d6b7.ef0118","85f59fe8.50e6"]]},{"id":"b82ab473.c3cf38","type":"http request","z":"9a023973.2aed78","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1540,"wires":[["a390a689.a456a8","e41a825.55c118"]]},{"id":"1be3d837.4a2888","type":"switch","z":"418e53d5.d2fd1c","name":"エラー検知","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":750,"y":80,"wires":[[],["9abe1852.0c57f8"]]},{"id":"9ffff38b.1b705","type":"function","z":"418e53d5.d2fd1c","name":"流量カウント","func":"var count = global.get('request.count');\ncount++;\nglobal.set('request.count',count);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["f2fa4bbc.09f5a8"]]},{"id":"9abe1852.0c57f8","type":"function","z":"418e53d5.d2fd1c","name":"リトライセット","func":"msg.retryCount = msg.retryCount || 0;\nmsg.retryCount++;\n\nmsg.payload = {};\nmsg.responseUrl = null;\nmsg.headers = null;\nmsg.statusCode = null;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":100,"wires":[["d96b22c5.6b816"]]},{"id":"d96b22c5.6b816","type":"switch","z":"418e53d5.d2fd1c","name":"リトライ上限","property":"retryCount","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1100,"y":100,"wires":[[],["b2090f27.d9c89"]]},{"id":"4d04395.f8c29c8","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"ca3be2dd.873bd","order":0,"width":0,"height":0,"label":"感情分類","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":2280,"wires":[[],[]]},{"id":"53091bcd.3d91b4","type":"function","z":"e5def551.32e878","name":"削除対象抽出","func":"msg.target = msg.payload;\nmsg.count = msg.payload.length;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["7f3972d.fb03e8c"]]},{"id":"30b11336.46afec","type":"inject","z":"e5def551.32e878","name":"最も古い分類器の削除","topic":"posinega","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":80,"wires":[["2c946f39.88755"]]},{"id":"17490980.6c5fd7","type":"template","z":"e5def551.32e878","name":"削除対象設定","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[\"abc12ex123-nlc-12346\", \"abc12ex123-nlc-12346\"]","output":"json","x":340,"y":400,"wires":[["53091bcd.3d91b4"]]},{"id":"e306c201.182d2","type":"comment","z":"e5def551.32e878","name":"最も古い分類器の削除（ポジネガ）","info":"","x":160,"y":40,"wires":[]},{"id":"2c946f39.88755","type":"cloudant in","z":"e5def551.32e878","name":"検索","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":330,"y":180,"wires":[["90c5d471.fef738"]]},{"id":"95653826.4c1088","type":"inject","z":"e5def551.32e878","name":"最も古い分類器の削除","topic":"isbot","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":180,"wires":[["2c946f39.88755"]]},{"id":"90c5d471.fef738","type":"function","z":"e5def551.32e878","name":"削除対象設定","func":"var name = msg.topic;\nvar id = \"\";\nvar rev = \"\";\nvar created = new Date();\n\nif (Array.isArray(msg.payload)) {\n    for (i = 0; i < msg.payload.length; i++) {\n        if (name == msg.payload[i].name) {\n            if (created.getTime() > new Date(msg.payload[i].created).getTime()) {\n                id = msg.payload[i]._id;\n                rev = msg.payload[i]._rev;\n                created = new Date(msg.payload[i].created);\n            }\n        }\n    }\n}\n\nmsg.payload = id;\nmsg._id = id;\nmsg._rev = rev;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["9c010f9b.fd5b5","e6bdf84f.4686f8"]]},{"id":"9c010f9b.fd5b5","type":"watson-natural-language-classifier","z":"e5def551.32e878","name":"分類器削除","mode":"remove","language":"en","classifier":"","x":650,"y":180,"wires":[["9e8cb8f9.151bc8"]]},{"id":"e6bdf84f.4686f8","type":"function","z":"e5def551.32e878","name":"Cloudant用設定","func":"msg.payload = { \"_id\" : msg._id, \"_rev\" : msg._rev }\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["8d03259.3043bd8"]]},{"id":"64ce588.5d339a8","type":"comment","z":"e5def551.32e878","name":"最も古い分類器の削除（BOT判断）","info":"","x":160,"y":140,"wires":[]},{"id":"8d03259.3043bd8","type":"cloudant out","z":"e5def551.32e878","name":"削除","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","payonly":false,"operation":"delete","x":810,"y":240,"wires":[]},{"id":"9e8cb8f9.151bc8","type":"debug","z":"e5def551.32e878","name":"","active":true,"console":"false","complete":"false","x":810,"y":180,"wires":[]},{"id":"d5c0998a.41d8a8","type":"inject","z":"e5def551.32e878","name":"最も古い分類器の削除","topic":"emotion","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":280,"wires":[["2c946f39.88755"]]},{"id":"1c8f6745.23cff9","type":"comment","z":"e5def551.32e878","name":"最も古い分類器の削除（感情）","info":"","x":150,"y":240,"wires":[]},{"id":"897eab79.12f978","type":"inject","z":"e5def551.32e878","name":"分類器情報の削除","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":400,"wires":[["17490980.6c5fd7"]]},{"id":"7f3972d.fb03e8c","type":"switch","z":"e5def551.32e878","name":"","property":"count","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":670,"y":400,"wires":[["fdbfb114.0ee1d"],["90e8d029.f5386"]]},{"id":"90e8d029.f5386","type":"function","z":"e5def551.32e878","name":"削除対象抽出","func":"msg.count--;\nmsg.payload = msg.target[msg.count];\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":420,"wires":[["82356b39.a01208","d7e0fdbb.3b588"]]},{"id":"fdbfb114.0ee1d","type":"debug","z":"e5def551.32e878","name":"終了","active":true,"console":"false","complete":"count","x":790,"y":380,"wires":[]},{"id":"a3a9d58c.a16538","type":"delay","z":"e5def551.32e878","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":440,"wires":[["7f3972d.fb03e8c"]]},{"id":"3488d721.9354b8","type":"link in","z":"e5def551.32e878","name":"分類器削除(in)","links":["87de2236.65917"],"x":435,"y":440,"wires":[["a3a9d58c.a16538"]]},{"id":"f1bd7d40.cbb87","type":"comment","z":"e5def551.32e878","name":"分類器の削除（classifier_id指定）","info":"","x":160,"y":360,"wires":[]},{"id":"d7e0fdbb.3b588","type":"cloudant in","z":"e5def551.32e878","name":"検索","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":970,"y":460,"wires":[["3270eb06.8109f4"]]},{"id":"82356b39.a01208","type":"watson-natural-language-classifier","z":"e5def551.32e878","name":"分類器削除","mode":"remove","language":"en","classifier":"","x":990,"y":420,"wires":[["41fc022b.72cdec","87de2236.65917"]]},{"id":"3270eb06.8109f4","type":"cloudant out","z":"e5def551.32e878","name":"削除","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","payonly":false,"operation":"delete","x":1090,"y":460,"wires":[]},{"id":"41fc022b.72cdec","type":"debug","z":"e5def551.32e878","name":"","active":true,"console":"false","complete":"false","x":1150,"y":420,"wires":[]},{"id":"87de2236.65917","type":"link out","z":"e5def551.32e878","name":"分類器削除(out)","links":["3488d721.9354b8"],"x":1095,"y":380,"wires":[]},{"id":"8484dd82.b6b7d","type":"switch","z":"9a023973.2aed78","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":640,"y":600,"wires":[["44977ea.bf5b18"],["87a30ab.06a6cf8"]]},{"id":"44977ea.bf5b18","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"msg.remains--;\n\nvar startDate = new Date(); \nvar endDate = new Date(); \nvar startHour = \"\";\nvar startMinute = \"\";\nvar endHour = \"\";\nvar endMinute = \"\";\n\nvar groupLevel;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        startDate.setHours(startDate.getHours() + 8);\n        startDate.setMinutes(startDate.getMinutes() + 1);\n        endDate.setHours(endDate.getHours() + 9);\n        endDate.setMinutes(endDate.getMinutes() + 1);\n        startHour = \",\" + startDate.getHours();\n        startMinute = \",\" + startDate.getMinutes();\n        endHour = \",\" + endDate.getHours();\n        endMinute = \",\" + endDate.getMinutes();\n        groupLevel = 7;\n        break;\n\n    case \"hourly\":\n        startDate.setDate(startDate.getDate() - 1);\n        startDate.setHours(startDate.getHours() + 10);\n        endDate.setHours(endDate.getHours() + 10);\n        startHour = \",\" + startDate.getHours();\n        endHour = \",\" + endDate.getHours();\n        groupLevel = 6;\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(startDate.getFullYear(), startDate.getMonth(), 0).getDate();\n        startDate.setDate(startDate.getDate() - endOfLastMonth + 1);\n        startDate.setHours(startDate.getHours() + 9);\n        endDate.setDate(endDate.getDate() + 1);\n        endDate.setHours(endDate.getHours() + 9);\n        groupLevel = 5;\n        break;\n\n    default:\n        break;\n}\n\nvar startYear = startDate.getFullYear();\nvar startMonth = startDate.getMonth()+1;\nvar startDay = startDate.getDate();\n\nvar endYear = endDate.getFullYear();\nvar endMonth = endDate.getMonth()+1;\nvar endDay = endDate.getDate();\n\nvar param = \"group_level=\" + groupLevel +\n            \"&startkey=[\" +\n                \"\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\",\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                \"\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\",\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_time?\" + param);\n\nmsg.now = endDate;\nmsg.groupLevel = groupLevel;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":440,"wires":[["4710ce34.81a86"]]},{"id":"bdae3f91.d1b71","type":"function","z":"9a023973.2aed78","name":"データ整形","func":"var level = msg.groupLevel - 2;\n\nvar count = {};\nmsg.payload.rows.forEach(function(row) {\n    if(!count[row.key[level]]) count[row.key[level]] = 0;\n    count[row.key[level]] += row.value;\n})\n\nvar data = [];\nvar timeRange;\nvar now;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        timeRange = 60;\n        now = msg.now.getMinutes();\n        break;\n\n    case \"hourly\":\n        timeRange = 24;\n        now = msg.now.getHours();\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(msg.now.getFullYear(), msg.now.getMonth(), 0).getDate();\n        timeRange = endOfLastMonth;\n        now = msg.now.getDate();\n        break;\n\n    default:\n        break;\n}\n\nfor (i=0; i < timeRange; i++) {\n    if (count[now]) {\n        data[i] = count[now];\n    } else {\n        data[i] = 0;\n    }\n\n    now++;\n    if (msg.timeRange == \"daily\" ) {\n        if (now > timeRange) now = 1;\n    } else {\n        if (now >= timeRange) now = 0;\n    }\n}\n\nmsg.data[msg.remains] = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["8484dd82.b6b7d"]]},{"id":"87a30ab.06a6cf8","type":"function","z":"9a023973.2aed78","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\n\nvar level = msg.groupLevel - 2;\n\ngraph[0].data = msg.data;\n\nvar timeRange;\nvar now;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        timeRange = 60;\n        now = msg.now.getMinutes();\n        break;\n\n    case \"hourly\":\n        timeRange = 24;\n        now = msg.now.getHours();\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(msg.now.getFullYear(), msg.now.getMonth(), 0).getDate();\n        timeRange = endOfLastMonth;\n        now = msg.now.getDate();\n        break;\n\n    default:\n        break;\n}\n\nfor (i=0; i < timeRange; i++) {\n    graph[0].labels[i] = now;\n    \n    now++;\n    if (msg.timeRange == \"daily\" ) {\n        if (now > timeRange) now = 1;\n    } else {\n        if (now >= timeRange) now = 0;\n    }\n}\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":660,"wires":[["623f2caf.ad4574"]]},{"id":"4710ce34.81a86","type":"subflow:418e53d5.d2fd1c","z":"9a023973.2aed78","name":"","x":590,"y":480,"wires":[["bdae3f91.d1b71"]]},{"id":"739637a5.03e1a8","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"6fa6cbb5.8023b4","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":420,"wires":[[],[]]},{"id":"6c251cc.d337de4","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"6fa6cbb5.8023b4","order":2,"width":0,"height":0,"label":"時","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":500,"wires":[[],[]]},{"id":"ece10fb6.43f2f","type":"ui_chart","z":"9a023973.2aed78","name":"","group":"6fa6cbb5.8023b4","order":3,"width":0,"height":0,"label":"日","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"31","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":580,"wires":[[],[]]},{"id":"1d1cf78b.7b4c28","type":"switch","z":"9a023973.2aed78","name":"単位振分","property":"timeRange","propertyType":"msg","rules":[{"t":"eq","v":"minutely","vt":"str"},{"t":"eq","v":"hourly","vt":"str"},{"t":"eq","v":"daily","vt":"str"}],"checkall":"true","outputs":3,"x":900,"y":1020,"wires":[["513c95c3.248e0c"],["c5172d5a.9df5e"],["23010cab.57eea4"]]},{"id":"fdd1955c.400f68","type":"change","z":"9a023973.2aed78","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"posinega","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":500,"wires":[["8205aec6.407d1"]]},{"id":"8205aec6.407d1","type":"function","z":"9a023973.2aed78","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.data = [[]];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["44977ea.bf5b18"]]},{"id":"1a702ad6.57acd5","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":420,"wires":[["fdd1955c.400f68"]]},{"id":"775413c8.3afccc","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"hourly","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":500,"wires":[["fdd1955c.400f68"]]},{"id":"60617808.3bbb08","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"daily","payloadType":"str","repeat":"60","crontab":"","once":false,"x":90,"y":580,"wires":[["fdd1955c.400f68"]]},{"id":"eaff1607.d7a2c8","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"hourly","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":760,"wires":[["867f1793.9453a8"]]},{"id":"410ba176.1ffe3","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":680,"wires":[["867f1793.9453a8"]]},{"id":"670fb3dc.fa490c","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"daily","payloadType":"str","repeat":"60","crontab":"","once":false,"x":90,"y":840,"wires":[["867f1793.9453a8"]]},{"id":"92dbaed5.c6964","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"hourly","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":1020,"wires":[["ffd4267a.6aed58"]]},{"id":"4b8bce34.5b825","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":940,"wires":[["ffd4267a.6aed58"]]},{"id":"55d5d83e.0d39f8","type":"inject","z":"9a023973.2aed78","name":"","topic":"","payload":"daily","payloadType":"str","repeat":"60","crontab":"","once":false,"x":90,"y":1100,"wires":[["ffd4267a.6aed58"]]},{"id":"623f2caf.ad4574","type":"switch","z":"9a023973.2aed78","name":"分類器振分","property":"classifier","propertyType":"msg","rules":[{"t":"eq","v":"posinega","vt":"str"},{"t":"eq","v":"isbot","vt":"str"},{"t":"eq","v":"emotion","vt":"str"}],"checkall":"true","outputs":3,"x":730,"y":760,"wires":[["220e806.c4b858"],["40ee50be.1eb2e"],["1d1cf78b.7b4c28"]]},{"id":"220e806.c4b858","type":"switch","z":"9a023973.2aed78","name":"単位振分","property":"timeRange","propertyType":"msg","rules":[{"t":"eq","v":"minutely","vt":"str"},{"t":"eq","v":"hourly","vt":"str"},{"t":"eq","v":"daily","vt":"str"}],"checkall":"true","outputs":3,"x":900,"y":500,"wires":[["739637a5.03e1a8"],["6c251cc.d337de4"],["ece10fb6.43f2f"]]},{"id":"40ee50be.1eb2e","type":"switch","z":"9a023973.2aed78","name":"単位振分","property":"timeRange","propertyType":"msg","rules":[{"t":"eq","v":"minutely","vt":"str"},{"t":"eq","v":"hourly","vt":"str"},{"t":"eq","v":"daily","vt":"str"}],"checkall":"true","outputs":3,"x":900,"y":760,"wires":[["26d3e576.fcce9a"],["eaee690e.db43a8"],["18689aa.0032a65"]]},{"id":"4deaeff1.a3a47","type":"comment","z":"9a023973.2aed78","name":"Tweet内訳","info":"","x":60,"y":1180,"wires":[]},{"id":"4394fe6e.1fe2f","type":"function","z":"9a023973.2aed78","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.count = [];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1760,"wires":[["dd2a8f57.bff3"]]},{"id":"2ed52a8c.33a4e6","type":"switch","z":"9a023973.2aed78","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":300,"y":1880,"wires":[["dd2a8f57.bff3"],["b19487fb.c57238"]]},{"id":"dd2a8f57.bff3","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"msg.remains--;\nvar param = \"key=\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\"\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_class?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1820,"wires":[["45bbdfcb.4e9ed"]]},{"id":"b19487fb.c57238","type":"function","z":"9a023973.2aed78","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\ngraph[0].data[0] = msg.count;\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1880,"wires":[["ec2c8d2b.79f09"]]},{"id":"cd12380a.1c4b68","type":"change","z":"9a023973.2aed78","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"posinega","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1760,"wires":[["4394fe6e.1fe2f"]]},{"id":"45bbdfcb.4e9ed","type":"subflow:418e53d5.d2fd1c","z":"9a023973.2aed78","name":"","x":450,"y":1820,"wires":[["99f6ee2.1b5ea1"]]},{"id":"99f6ee2.1b5ea1","type":"function","z":"9a023973.2aed78","name":"カウントセット","func":"if (msg.payload.rows[0]) {\n    msg.count[msg.remains] = msg.payload.rows[0].value;\n} else {\n    msg.count[msg.remains] = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1820,"wires":[["2ed52a8c.33a4e6"]]},{"id":"7cad3e70.41a84","type":"function","z":"9a023973.2aed78","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.count = [];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1960,"wires":[["3b7048c3.6e00a8"]]},{"id":"188cb8c2.671e37","type":"function","z":"9a023973.2aed78","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\ngraph[0].data[0] = msg.count;\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":2080,"wires":[["1fe695eb.06d73a"]]},{"id":"f1259d72.be4b5","type":"subflow:418e53d5.d2fd1c","z":"9a023973.2aed78","name":"","x":450,"y":2020,"wires":[["288954b.80306ac"]]},{"id":"3b7048c3.6e00a8","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"msg.remains--;\nvar param = \"key=\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\"\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_class?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":2020,"wires":[["f1259d72.be4b5"]]},{"id":"666a6631.78af38","type":"switch","z":"9a023973.2aed78","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":300,"y":2080,"wires":[["3b7048c3.6e00a8"],["188cb8c2.671e37"]]},{"id":"288954b.80306ac","type":"function","z":"9a023973.2aed78","name":"カウントセット","func":"if (msg.payload.rows[0]) {\n    msg.count[msg.remains] = msg.payload.rows[0].value;\n} else {\n    msg.count[msg.remains] = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2020,"wires":[["666a6631.78af38"]]},{"id":"1562e309.6e623d","type":"function","z":"9a023973.2aed78","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.count = [];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":2160,"wires":[["6f9d1ec3.9ec02"]]},{"id":"8e0ef4f1.cea888","type":"function","z":"9a023973.2aed78","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\ngraph[0].data[0] = msg.count;\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":2280,"wires":[["4d04395.f8c29c8"]]},{"id":"9ff605b1.c84288","type":"subflow:418e53d5.d2fd1c","z":"9a023973.2aed78","name":"","x":450,"y":2220,"wires":[["a1de2cf.45c46d"]]},{"id":"6f9d1ec3.9ec02","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"msg.remains--;\nvar param = \"key=\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\"\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_class?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":2220,"wires":[["9ff605b1.c84288"]]},{"id":"2fb2dd4f.ae65d2","type":"switch","z":"9a023973.2aed78","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":300,"y":2280,"wires":[["6f9d1ec3.9ec02"],["8e0ef4f1.cea888"]]},{"id":"a1de2cf.45c46d","type":"function","z":"9a023973.2aed78","name":"カウントセット","func":"if (msg.payload.rows[0]) {\n    msg.count[msg.remains] = msg.payload.rows[0].value;\n} else {\n    msg.count[msg.remains] = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2220,"wires":[["2fb2dd4f.ae65d2"]]},{"id":"2f6de0f2.3bb14","type":"inject","z":"9a023973.2aed78","name":"1週間より前のデータ削除","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * *","once":false,"x":160,"y":240,"wires":[["7adc8158.88bbc"]]},{"id":"7adc8158.88bbc","type":"function","z":"9a023973.2aed78","name":"クエリセット","func":"msg.remains--;\n\nvar endDate = new Date(); \n\nendDate.setDate(endDate.getDate() - 7);\nendDate.setHours(endDate.getHours() + 9);\n\nvar endYear = endDate.getFullYear();\nvar endMonth = endDate.getMonth()+1;\nvar endDay = endDate.getDate();\n\nvar param = \"endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n            \"]\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/sort_by_date?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["f00f7ae2.e52458"]]},{"id":"f00f7ae2.e52458","type":"subflow:418e53d5.d2fd1c","z":"9a023973.2aed78","name":"","x":550,"y":240,"wires":[["b351618a.d5f8e"]]},{"id":"b351618a.d5f8e","type":"function","z":"9a023973.2aed78","name":"削除クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" +  global.get(\"cloudant.dbname\") + \"/_bulk_docs\");\n\nvar docs = [{ \"_id\":\"\",\n              \"_rev\":\"\",\n              \"_deleted\":\"\"}];\n\nif(Array.isArray(msg.payload.rows)) {\n    for (i = 0; i < msg.payload.rows.length; i++) {\n        if (msg.payload.rows[i]) {\n            docs[i] = { \"_id\" : msg.payload.rows[i].value._id,\n                        \"_rev\" : msg.payload.rows[i].value._rev,\n                        \"_deleted\" : true};\n        }\n    }\n}\n\nmsg.payload = { \"docs\":docs };\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":240,"wires":[["edfc8204.ab70f"]]},{"id":"edfc8204.ab70f","type":"http request","z":"9a023973.2aed78","name":"","method":"POST","ret":"obj","url":"","tls":"","x":910,"y":240,"wires":[[]]}]
