editor/aistarter_nodered_twitter.json
[{"id":"e2d1fc4e.76159","type":"tab","label":"SBAnalyzer","disabled":false,"info":""},{"id":"6b0d0468.7b675c","type":"tab","label":"Cloudant初期設定","disabled":false,"info":""},{"id":"41494583.44f48c","type":"tab","label":"分類器作成","disabled":false,"info":""},{"id":"1e42336.16397cd","type":"tab","label":"分類器削除","disabled":false,"info":""},{"id":"e37277db.12d168","type":"subflow","name":"リクエスト","info":"","in":[{"x":20,"y":100,"wires":[{"id":"ffd5d400.b4b9a8"}]}],"out":[{"x":1220,"y":60,"wires":[{"id":"2fc2df6c.23831","port":0},{"id":"37366a1.8d2a096","port":0}]}]},{"id":"a69090d7.bec11","type":"ui_group","z":"","name":"ポジネガ","tab":"41b7b442.cec54c","order":1,"disp":true,"width":"6"},{"id":"41b7b442.cec54c","type":"ui_tab","z":"","name":"SBTwitter","icon":"dashboard"},{"id":"116be3cd.25b10c","type":"ui_group","z":"","name":"BOT判断","tab":"41b7b442.cec54c","disp":true,"width":"6"},{"id":"cf8ef807.0dd3d8","type":"ui_group","z":"","name":"感情分類","tab":"41b7b442.cec54c","disp":true,"width":"6"},{"id":"bee84003.4995c","type":"ui_group","z":"","name":"Tweet内訳","tab":"41b7b442.cec54c","disp":true,"width":"24"},{"id":"72b036f8.8c3a38","type":"ui_group","z":"","name":"トータル","tab":"41b7b442.cec54c","disp":true,"width":"6"},{"id":"42d0082.896c5f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"77c42c8e.423714","type":"twitter in","z":"e2d1fc4e.76159","twitter":"","tags":"","user":"false","name":"ツイート収集","topic":"tweets","inputs":1,"x":90,"y":80,"wires":[["f5823d2a.feff5"]]},{"id":"51c8d6d1.360378","type":"watson-natural-language-classifier","z":"e2d1fc4e.76159","name":"NLC:ポジネガ判定","mode":"classify","language":"en","classifier":"","x":390,"y":140,"wires":[["64e4c818.8ce028"]]},{"id":"34e592b1.7e217e","type":"watson-natural-language-classifier","z":"e2d1fc4e.76159","name":"NLC:BOT判断","mode":"classify","language":"en","classifier":"","x":420,"y":80,"wires":[["e875a040.9cbcd","64e4c818.8ce028"]]},{"id":"5b30bb30.517084","type":"watson-natural-language-classifier","z":"e2d1fc4e.76159","name":"NLC:感情分類","mode":"classify","language":"en","classifier":"","x":380,"y":180,"wires":[["64e4c818.8ce028"]]},{"id":"70346c9.fcbae94","type":"comment","z":"e2d1fc4e.76159","name":"ツイートの収集、登録","info":"","x":100,"y":40,"wires":[]},{"id":"35b544cf.938bcc","type":"ui_dropdown","z":"e2d1fc4e.76159","name":"","label":"","place":"時","group":"a69090d7.bec11","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1260,"wires":[["c0e223e9.bea3e"]]},{"id":"cdc2b63e.c8f3b8","type":"ui_date_picker","z":"e2d1fc4e.76159","name":"","label":"","group":"a69090d7.bec11","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1220,"wires":[["f0be6384.97cd3"]]},{"id":"6308998d.3a4ee8","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"116be3cd.25b10c","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":680,"wires":[[],[]]},{"id":"9eb0c5ef.5a9988","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"116be3cd.25b10c","order":2,"width":0,"height":0,"label":"時","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":760,"wires":[[],[]]},{"id":"12f438c.b90fac7","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"116be3cd.25b10c","order":3,"width":0,"height":0,"label":"日","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"31","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":840,"wires":[[],[]]},{"id":"b0b4abc.e818358","type":"ui_dropdown","z":"e2d1fc4e.76159","name":"","label":"","place":"時","group":"116be3cd.25b10c","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1400,"wires":[["2da5ab10.0ca624"]]},{"id":"2b6755bf.2782ba","type":"ui_date_picker","z":"e2d1fc4e.76159","name":"","label":"","group":"116be3cd.25b10c","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1360,"wires":[["626a966c.6bde48"]]},{"id":"b0b22155.8e31c","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"cf8ef807.0dd3d8","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":940,"wires":[[],[]]},{"id":"cd4e6471.fa2958","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"cf8ef807.0dd3d8","order":2,"width":0,"height":0,"label":"時","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":1020,"wires":[[],[]]},{"id":"f1bcd7a2.589068","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"cf8ef807.0dd3d8","order":3,"width":0,"height":0,"label":"日","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"31","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":1100,"wires":[[],[]]},{"id":"95c43f06.874c2","type":"ui_dropdown","z":"e2d1fc4e.76159","name":"","label":"","place":"時","group":"cf8ef807.0dd3d8","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"}],"payload":"","topic":"","x":80,"y":1540,"wires":[["6d453fc8.65c08"]]},{"id":"f88fc8e6.b18718","type":"ui_date_picker","z":"e2d1fc4e.76159","name":"","label":"","group":"cf8ef807.0dd3d8","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":1500,"wires":[["727dc153.a0d5d"]]},{"id":"75bacbd.38ed634","type":"ui_dropdown","z":"e2d1fc4e.76159","name":"","label":"","place":"分","group":"a69090d7.bec11","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":24,"type":"num"},{"label":"","value":25,"type":"num"},{"label":"","value":26,"type":"num"},{"label":"","value":27,"type":"num"},{"label":"","value":28,"type":"num"},{"label":"","value":29,"type":"num"},{"label":"","value":30,"type":"num"},{"label":"","value":31,"type":"num"},{"label":"","value":32,"type":"num"},{"label":"","value":33,"type":"num"},{"label":"","value":34,"type":"num"},{"label":"","value":35,"type":"num"},{"label":"","value":36,"type":"num"},{"label":"","value":37,"type":"num"},{"label":"","value":38,"type":"num"},{"label":"","value":39,"type":"num"},{"label":"","value":40,"type":"num"},{"label":"","value":41,"type":"num"},{"label":"","value":42,"type":"num"},{"label":"","value":43,"type":"num"},{"label":"","value":44,"type":"num"},{"label":"","value":45,"type":"num"},{"label":"","value":46,"type":"num"},{"label":"","value":47,"type":"num"},{"label":"","value":48,"type":"num"},{"label":"","value":49,"type":"num"},{"label":"","value":50,"type":"num"},{"label":"","value":51,"type":"num"},{"label":"","value":52,"type":"num"},{"label":"","value":53,"type":"num"},{"label":"","value":54,"type":"num"},{"label":"","value":55,"type":"num"},{"label":"","value":56,"type":"num"},{"label":"","value":57,"type":"num"},{"label":"","value":58,"type":"num"},{"label":"","value":59,"type":"num"},{"label":"","value":60,"type":"num"}],"payload":"","topic":"","x":80,"y":1300,"wires":[["39b2382a.54fb78"]]},{"id":"22941dab.a735e2","type":"comment","z":"e2d1fc4e.76159","name":"ポジネガグラフ","info":"","x":80,"y":380,"wires":[]},{"id":"20fb2de5.6196b2","type":"ui_dropdown","z":"e2d1fc4e.76159","name":"","label":"","place":"分","group":"116be3cd.25b10c","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"},{"label":"","value":"28","type":"str"},{"label":"","value":"29","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"31","type":"str"},{"label":"","value":"32","type":"str"},{"label":"","value":"33","type":"str"},{"label":"","value":"34","type":"str"},{"label":"","value":"35","type":"str"},{"label":"","value":"36","type":"str"},{"label":"","value":"37","type":"str"},{"label":"","value":"38","type":"str"},{"label":"","value":"39","type":"str"},{"label":"","value":"40","type":"str"},{"label":"","value":"41","type":"str"},{"label":"","value":"42","type":"str"},{"label":"","value":"43","type":"str"},{"label":"","value":"44","type":"str"},{"label":"","value":"45","type":"str"},{"label":"","value":"46","type":"str"},{"label":"","value":"47","type":"str"},{"label":"","value":"48","type":"str"},{"label":"","value":"49","type":"str"},{"label":"","value":"50","type":"str"},{"label":"","value":"51","type":"str"},{"label":"","value":"52","type":"str"},{"label":"","value":"53","type":"str"},{"label":"","value":"54","type":"str"},{"label":"","value":"55","type":"str"},{"label":"","value":"56","type":"str"},{"label":"","value":"57","type":"str"},{"label":"","value":"58","type":"str"},{"label":"","value":"59","type":"str"},{"label":"","value":"60","type":"str"}],"payload":"","topic":"","x":80,"y":1440,"wires":[["2fa5b6f5.9e3c9a"]]},{"id":"b194be4.b14b34","type":"ui_dropdown","z":"e2d1fc4e.76159","name":"","label":"","place":"分","group":"cf8ef807.0dd3d8","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"-","type":"str"},{"label":"","value":0,"type":"num"},{"label":"","value":1,"type":"num"},{"label":"","value":2,"type":"num"},{"label":"","value":3,"type":"num"},{"label":"","value":4,"type":"num"},{"label":"","value":5,"type":"num"},{"label":"","value":6,"type":"num"},{"label":"","value":7,"type":"num"},{"label":"","value":8,"type":"num"},{"label":"","value":9,"type":"num"},{"label":"","value":10,"type":"num"},{"label":"","value":11,"type":"num"},{"label":"","value":12,"type":"num"},{"label":"","value":13,"type":"num"},{"label":"","value":14,"type":"num"},{"label":"","value":15,"type":"num"},{"label":"","value":16,"type":"num"},{"label":"","value":17,"type":"num"},{"label":"","value":18,"type":"num"},{"label":"","value":19,"type":"num"},{"label":"","value":20,"type":"num"},{"label":"","value":21,"type":"num"},{"label":"","value":22,"type":"num"},{"label":"","value":23,"type":"num"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"},{"label":"","value":"28","type":"str"},{"label":"","value":"29","type":"str"},{"label":"","value":"30","type":"str"},{"label":"","value":"31","type":"str"},{"label":"","value":"32","type":"str"},{"label":"","value":"33","type":"str"},{"label":"","value":"34","type":"str"},{"label":"","value":"35","type":"str"},{"label":"","value":"36","type":"str"},{"label":"","value":"37","type":"str"},{"label":"","value":"38","type":"str"},{"label":"","value":"39","type":"str"},{"label":"","value":"40","type":"str"},{"label":"","value":"41","type":"str"},{"label":"","value":"42","type":"str"},{"label":"","value":"43","type":"str"},{"label":"","value":"44","type":"str"},{"label":"","value":"45","type":"str"},{"label":"","value":"46","type":"str"},{"label":"","value":"47","type":"str"},{"label":"","value":"48","type":"str"},{"label":"","value":"49","type":"str"},{"label":"","value":"50","type":"str"},{"label":"","value":"51","type":"str"},{"label":"","value":"52","type":"str"},{"label":"","value":"53","type":"str"},{"label":"","value":"54","type":"str"},{"label":"","value":"55","type":"str"},{"label":"","value":"56","type":"str"},{"label":"","value":"57","type":"str"},{"label":"","value":"58","type":"str"},{"label":"","value":"59","type":"str"},{"label":"","value":"60","type":"str"}],"payload":"","topic":"","x":80,"y":1580,"wires":[["90c2d6d4.bbb9e8"]]},{"id":"b103e44f.b8e338","type":"ui_template","z":"e2d1fc4e.76159","group":"bee84003.4995c","name":"Tweet内訳","order":0,"width":"24","height":"10","format":"<div>\n<table style=\"width:100%\">\n  <tr>\n    <th>No.</th>\n    <th>Class</th>\n    <th>年</th>\n    <th>月</th>\n    <th>日</th>\n    <th>時</th>\n    <th>分</th>\n    <th>Tweet</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload.rows | limitTo:1000\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload.rows[$index].value[0]}}</td>\n    <td>{{msg.payload.rows[$index].value[2]}}</td>\n    <td>{{msg.payload.rows[$index].value[3]}}</td>\n    <td>{{msg.payload.rows[$index].value[4]}}</td>\n    <td>{{msg.payload.rows[$index].value[5]}}</td>\n    <td>{{msg.payload.rows[$index].value[6]}}</td>\n    <td>{{msg.payload.rows[$index].value[1]}}</td> \n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":150,"y":1640,"wires":[[]]},{"id":"69c39984.010658","type":"debug","z":"e2d1fc4e.76159","name":"","active":false,"console":"false","complete":"true","x":570,"y":1220,"wires":[]},{"id":"196ea146.2ac62f","type":"function","z":"e2d1fc4e.76159","name":"クエリセット","func":"var classifierName = \"posinega\";\nvar viewName = \"posi_nega_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nmsg.date = date;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1260,"wires":[["69c39984.010658","9be132f1.6f87a"]]},{"id":"f0be6384.97cd3","type":"change","z":"e2d1fc4e.76159","name":"日付セット","rules":[{"t":"set","p":"posinega.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1220,"wires":[["196ea146.2ac62f"]]},{"id":"c0e223e9.bea3e","type":"change","z":"e2d1fc4e.76159","name":"時セット","rules":[{"t":"set","p":"posinega.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1260,"wires":[["196ea146.2ac62f"]]},{"id":"39b2382a.54fb78","type":"change","z":"e2d1fc4e.76159","name":"分セット","rules":[{"t":"set","p":"posinega.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1300,"wires":[["196ea146.2ac62f"]]},{"id":"abf94ba2.f66788","type":"debug","z":"e2d1fc4e.76159","name":"","active":false,"console":"false","complete":"true","x":730,"y":1220,"wires":[]},{"id":"90883941.0a48e8","type":"debug","z":"e2d1fc4e.76159","name":"","active":false,"console":"false","complete":"true","x":570,"y":1360,"wires":[]},{"id":"a3027e92.a1922","type":"function","z":"e2d1fc4e.76159","name":"クエリセット","func":"var classifierName = \"isbot\";\nvar viewName = \"isbot_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1400,"wires":[["90883941.0a48e8","5ba5822d.8239bc"]]},{"id":"626a966c.6bde48","type":"change","z":"e2d1fc4e.76159","name":"日付セット","rules":[{"t":"set","p":"isbot.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1360,"wires":[["a3027e92.a1922"]]},{"id":"2da5ab10.0ca624","type":"change","z":"e2d1fc4e.76159","name":"時セット","rules":[{"t":"set","p":"isbot.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1400,"wires":[["a3027e92.a1922"]]},{"id":"2fa5b6f5.9e3c9a","type":"change","z":"e2d1fc4e.76159","name":"分セット","rules":[{"t":"set","p":"isbot.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1440,"wires":[["a3027e92.a1922"]]},{"id":"f810ac16.3963e","type":"debug","z":"e2d1fc4e.76159","name":"","active":false,"console":"false","complete":"true","x":730,"y":1360,"wires":[]},{"id":"56cb10df.8ccf5","type":"debug","z":"e2d1fc4e.76159","name":"","active":false,"console":"false","complete":"true","x":570,"y":1500,"wires":[]},{"id":"21d0c650.959a2a","type":"function","z":"e2d1fc4e.76159","name":"クエリセット","func":"var classifierName = \"emotion\";\nvar viewName = \"emotion_text_by_time\";\n\nvar date;\nif (global.get(classifierName + \".date\")) {\n    date = new Date(global.get(classifierName + \".date\"));\n} else {\n    date = new Date();\n}\n\nvar startYear = date.getFullYear();\nvar startMonth = date.getMonth()+1;\nvar startDay = date.getDate();\nvar startHour = \"\";\nvar startMinute = \"\";\n\nvar endYear = date.getFullYear();\nvar endMonth = date.getMonth()+1;\nvar endDay = date.getDate();\nvar endHour = \"\";\nvar endMinute = \"\";\n\nif (isFinite(global.get(classifierName + \".hour\"))) {\n    startHour = \",\" + global.get(classifierName + \".hour\");\n    var endHourNum = +global.get(classifierName + \".hour\") + 1;\n    endHour = \",\" + endHourNum;\n    \n    if (isFinite(global.get(classifierName + \".minute\"))) {\n        endHour = \",\" + global.get(classifierName + \".hour\");\n        \n        startMinute = \",\" + global.get(classifierName + \".minute\");\n        var endMinuteNum = +global.get(classifierName + \".minute\") + 1;\n        endMinute = \",\" + endMinuteNum;\n    }\n} else {\n    date.setDate(date.getDate() + 1);\n    endYear = date.getFullYear();\n    endMonth = date.getMonth()+1;\n    endDay = date.getDate();\n}\n\nvar param = \"startkey=[\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\n\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/\" + viewName + \"?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1540,"wires":[["56cb10df.8ccf5","a908c7c1.31c188"]]},{"id":"727dc153.a0d5d","type":"change","z":"e2d1fc4e.76159","name":"日付セット","rules":[{"t":"set","p":"emotion.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1500,"wires":[["21d0c650.959a2a"]]},{"id":"6d453fc8.65c08","type":"change","z":"e2d1fc4e.76159","name":"時セット","rules":[{"t":"set","p":"emotion.hour","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1540,"wires":[["21d0c650.959a2a"]]},{"id":"90c2d6d4.bbb9e8","type":"change","z":"e2d1fc4e.76159","name":"分セット","rules":[{"t":"set","p":"emotion.minute","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1580,"wires":[["21d0c650.959a2a"]]},{"id":"ddde6f78.fd4c9","type":"debug","z":"e2d1fc4e.76159","name":"","active":false,"console":"false","complete":"true","x":730,"y":1500,"wires":[]},{"id":"85590592.98f6c8","type":"comment","z":"e2d1fc4e.76159","name":"BOT判断グラフ","info":"","x":80,"y":640,"wires":[]},{"id":"a38cebff.8431b8","type":"comment","z":"e2d1fc4e.76159","name":"感情分類グラフ","info":"","x":80,"y":900,"wires":[]},{"id":"c8ad0023.ef185","type":"link out","z":"e2d1fc4e.76159","name":"Tweet内訳","links":["30ec5010.15fd7"],"x":695,"y":1260,"wires":[]},{"id":"30ec5010.15fd7","type":"link in","z":"e2d1fc4e.76159","name":"Tweet内訳","links":["c8ad0023.ef185","6a22eb10.5b6e14","d1527c08.369b3"],"x":35,"y":1640,"wires":[["b103e44f.b8e338"]]},{"id":"20f58190.0fa61e","type":"comment","z":"e2d1fc4e.76159","name":"Tweet内訳へ","info":"","x":790,"y":1260,"wires":[]},{"id":"6a22eb10.5b6e14","type":"link out","z":"e2d1fc4e.76159","name":"Tweet内訳","links":["30ec5010.15fd7"],"x":695,"y":1400,"wires":[]},{"id":"39060e69.81a992","type":"comment","z":"e2d1fc4e.76159","name":"Tweet内訳へ","info":"","x":790,"y":1400,"wires":[]},{"id":"d1527c08.369b3","type":"link out","z":"e2d1fc4e.76159","name":"Tweet内訳","links":["30ec5010.15fd7"],"x":695,"y":1540,"wires":[]},{"id":"810f71f0.1012c","type":"comment","z":"e2d1fc4e.76159","name":"Tweet内訳へ","info":"","x":790,"y":1540,"wires":[]},{"id":"d6ba1da7.dda2e","type":"change","z":"e2d1fc4e.76159","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"isbot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":760,"wires":[["4467d666.4f73c8"]]},{"id":"5100a6b0.41a788","type":"change","z":"e2d1fc4e.76159","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"emotion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1020,"wires":[["4467d666.4f73c8"]]},{"id":"ab8c3e93.01adb","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"72b036f8.8c3a38","order":0,"width":0,"height":0,"label":"ポジネガ","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":1880,"wires":[[],[]]},{"id":"ab4ea9a0.a06378","type":"comment","z":"e2d1fc4e.76159","name":"トータル円グラフ","info":"","x":90,"y":1720,"wires":[]},{"id":"e5c11ab1.e07b18","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"72b036f8.8c3a38","order":0,"width":0,"height":0,"label":"BOT判断","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":2080,"wires":[[],[]]},{"id":"9e59ce8d.477be","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":1760,"wires":[["dae916e2.409f88"]]},{"id":"748d2282.79c37c","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":1960,"wires":[["72b18f89.ee5ac"]]},{"id":"3086ef71.21e7","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":2160,"wires":[["d96268cc.ae7778"]]},{"id":"72b18f89.ee5ac","type":"change","z":"e2d1fc4e.76159","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"isbot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1960,"wires":[["7697dd99.9eebd4"]]},{"id":"d96268cc.ae7778","type":"change","z":"e2d1fc4e.76159","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"emotion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":2160,"wires":[["ffde7c85.0a924"]]},{"id":"a8587f80.4081d","type":"function","z":"6b0d0468.7b675c","name":"Database作成クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\"));\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["15032a92.7e6535"]]},{"id":"15032a92.7e6535","type":"http request","z":"6b0d0468.7b675c","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":550,"y":140,"wires":[["a1a4b30d.de41a"]]},{"id":"92228a3f.428b88","type":"function","z":"6b0d0468.7b675c","name":"view作成クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view\");\n\n//作成するviewの中身をmsg.payloadに格納する\nmsg.payload = {\n  \"_id\": \"_design/view\",\n  \"views\": {\n    \"count_by_time\": {\n      \"reduce\": \"_count\",\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    //32400000ms足すことで日本時間に合わせる\\n    date = new Date(msec+32400000);\\n    emit([doc.payload.top_class,\\n          date.getFullYear(),\\n          date.getMonth()+1,\\n          date.getDate(),\\n          date.getHours(),\\n          date.getMinutes(),\\n          date.getSeconds()\\n        ]);\\n  }\\n}\"\n    },\n    \"posi_nega_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    if (doc.payload.top_class == \\\"positive\\\" ||\\n        doc.payload.top_class == \\\"neutral\\\" ||\\n        doc.payload.top_class == \\\"negative\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.payload.top_class,\\n            doc.tweet.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    },\n    \"isbot_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    if (doc.payload.top_class == \\\"person\\\" ||\\n        doc.payload.top_class == \\\"others\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.payload.top_class,\\n            doc.tweet.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    },\n    \"count_by_class\": {\n      \"reduce\": \"_count\",\n      \"map\": \"function (doc) {\\n  if (doc.payload.top_class) {\\n    emit(doc.payload.top_class);\\n  }\\n}\"\n    },\n    \"emotion_text_by_time\": {\n      \"map\": \"function (doc) {\\n  msec = Date.parse(doc.tweet.created_at);\\n  if (msec) {\\n    if (doc.payload.top_class == \\\"喜\\\" ||\\n        doc.payload.top_class == \\\"怒\\\" ||\\n        doc.payload.top_class == \\\"哀\\\" ||\\n        doc.payload.top_class == \\\"楽\\\") {\\n      //32400000ms足すことで日本時間に合わせる\\n      date = new Date(msec+32400000);\\n      emit([date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ],\\n          [doc.payload.top_class,\\n            doc.tweet.text,\\n            date.getFullYear(),\\n            date.getMonth()+1,\\n            date.getDate(),\\n            date.getHours(),\\n            date.getMinutes(),\\n            date.getSeconds()\\n          ]);\\n    }\\n  }\\n}\"\n    },\n    \"sort_by_date\": {\n      \"map\": \"function (doc) {\\n  if (doc.tweet.created_at) {\\n    msec = Date.parse(doc.tweet.created_at);\\n    tweetDate = new Date(msec);\\n    tweetDate.setHours(tweetDate.getHours() + 9);\\n    emit([tweetDate.getFullYear(),\\n          tweetDate.getMonth()+1,\\n          tweetDate.getDate(),\\n          tweetDate.getHours(),\\n          tweetDate.getMinutes(),\\n          tweetDate.getSeconds()],doc);\\n  }\\n}\"\n    }\n  },\n  \"language\": \"javascript\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["425d83b3.4ec68c"]]},{"id":"425d83b3.4ec68c","type":"http request","z":"6b0d0468.7b675c","name":"","method":"PUT","ret":"obj","url":"","tls":"","x":550,"y":180,"wires":[["891a53b.86fe2b"]]},{"id":"277a9d11.33dd32","type":"change","z":"6b0d0468.7b675c","name":"Cloudant 設定","rules":[{"t":"set","p":"cloudant.url","pt":"global","to":"","tot":"str"},{"t":"set","p":"cloudant.dbname","pt":"global","to":"twitter_data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":40,"wires":[[]]},{"id":"acdfb889.439fb8","type":"inject","z":"6b0d0468.7b675c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":40,"wires":[["277a9d11.33dd32"]]},{"id":"df0ab29.225265","type":"inject","z":"6b0d0468.7b675c","name":"Database作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":140,"wires":[["a8587f80.4081d"]]},{"id":"bdb5613a.ead05","type":"inject","z":"6b0d0468.7b675c","name":"view作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["92228a3f.428b88"]]},{"id":"a1a4b30d.de41a","type":"debug","z":"6b0d0468.7b675c","name":"","active":true,"console":"false","complete":"false","x":710,"y":140,"wires":[]},{"id":"891a53b.86fe2b","type":"debug","z":"6b0d0468.7b675c","name":"","active":true,"console":"false","complete":"false","x":710,"y":180,"wires":[]},{"id":"897acce.4f9aa3","type":"inject","z":"41494583.44f48c","name":"学習データをセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":80,"wires":[["83f6e25b.3dc76"]]},{"id":"bbec427d.451d1","type":"comment","z":"41494583.44f48c","name":"NLCに分類器（ポジネガ）作成","info":"","x":150,"y":40,"wires":[]},{"id":"83f6e25b.3dc76","type":"template","z":"41494583.44f48c","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":410,"y":80,"wires":[["ca296ca5.52d74"]]},{"id":"5c424933.a7d038","type":"debug","z":"41494583.44f48c","name":"","active":true,"console":"false","complete":"payload","x":830,"y":40,"wires":[]},{"id":"5ff07c78.bd5c94","type":"inject","z":"41494583.44f48c","name":"学習データをセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":220,"wires":[["705d9522.24bd9c"]]},{"id":"705d9522.24bd9c","type":"template","z":"41494583.44f48c","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":410,"y":220,"wires":[["22bcba1a.11bfc6"]]},{"id":"22bcba1a.11bfc6","type":"watson-natural-language-classifier","z":"41494583.44f48c","name":"分類器作成・トレーニング","mode":"create","language":"ja","classifier":"","x":620,"y":220,"wires":[["b69a01f4.458e7","a5bd5bd3.3f6218"]]},{"id":"b69a01f4.458e7","type":"debug","z":"41494583.44f48c","name":"","active":true,"console":"false","complete":"false","x":830,"y":180,"wires":[]},{"id":"bc8cb825.1e2de8","type":"comment","z":"41494583.44f48c","name":"NLCに分類器（BOT判断）作成","info":"","x":150,"y":180,"wires":[]},{"id":"79c271d5.157fd","type":"template","z":"41494583.44f48c","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":410,"y":360,"wires":[["8aaaec0e.5fc3e"]]},{"id":"f9547e62.228e5","type":"inject","z":"41494583.44f48c","name":"学習データをセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":360,"wires":[["79c271d5.157fd"]]},{"id":"8aaaec0e.5fc3e","type":"watson-natural-language-classifier","z":"41494583.44f48c","name":"分類器作成・トレーニング","mode":"create","language":"ja","classifier":"","x":620,"y":360,"wires":[["c7d67db5.58dad","8af45278.b9164"]]},{"id":"c7d67db5.58dad","type":"debug","z":"41494583.44f48c","name":"","active":true,"console":"false","complete":"false","x":830,"y":320,"wires":[]},{"id":"dedb56be.066788","type":"comment","z":"41494583.44f48c","name":"NLCに分類器（感情）作成","info":"","x":130,"y":320,"wires":[]},{"id":"12ea1a09.0ff596","type":"comment","z":"41494583.44f48c","name":"NLCに登録済みの分類器一覧確認","info":"","x":150,"y":460,"wires":[]},{"id":"2aaaf8d0.72d6e8","type":"inject","z":"41494583.44f48c","name":"分類器情報の確認","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":500,"wires":[["2f924823.4e1398"]]},{"id":"4da3396e.5d5e58","type":"debug","z":"41494583.44f48c","name":"","active":true,"console":"false","complete":"payload","x":450,"y":500,"wires":[]},{"id":"ca296ca5.52d74","type":"watson-natural-language-classifier","z":"41494583.44f48c","name":"分類器作成・トレーニング","mode":"create","language":"ja","classifier":"","x":620,"y":80,"wires":[["5c424933.a7d038","5ab69389.1d141c"]]},{"id":"3bf12776.80b9b8","type":"catch","z":"41494583.44f48c","name":"Cloudant Insertリトライ","scope":["e8eb0566.eb1738"],"x":690,"y":120,"wires":[["53226acb.9d3184"]]},{"id":"5bac7022.3e7ca","type":"function","z":"41494583.44f48c","name":"クエリセット","func":"var name = \"posinega\";\n\nmsg.payload = {\n    \"_id\" : msg.classifier.classifier_id,\n    \"classifier_id\" : msg.classifier.classifier_id,\n    \"name\" : name,\n    \"created\" : msg.classifier.created\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":80,"wires":[["e8eb0566.eb1738"]]},{"id":"5ab69389.1d141c","type":"change","z":"41494583.44f48c","name":"","rules":[{"t":"set","p":"classifier","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":80,"wires":[["5bac7022.3e7ca"]]},{"id":"53226acb.9d3184","type":"delay","z":"41494583.44f48c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":880,"y":120,"wires":[["5bac7022.3e7ca"]]},{"id":"5ecfa2cb.17d5ac","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":300,"wires":[["c28c168d.496fc8"]]},{"id":"c28c168d.496fc8","type":"change","z":"e2d1fc4e.76159","name":"NLC設定","rules":[{"t":"set","p":"posinega","pt":"global","to":"{\"class\":[\"positive\",\"neutral\",\"negative\"]}","tot":"json"},{"t":"set","p":"isbot","pt":"global","to":"{\"class\":[\"person\",\"others\"]}","tot":"json"},{"t":"set","p":"emotion","pt":"global","to":"{\"class\":[\"喜\",\"怒\",\"哀\",\"楽\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":300,"wires":[[]]},{"id":"412b1680.c81158","type":"catch","z":"41494583.44f48c","name":"Cloudant Insertリトライ","scope":["e8eb0566.eb1738"],"x":690,"y":260,"wires":[["19da89ef.3c1056"]]},{"id":"19da89ef.3c1056","type":"delay","z":"41494583.44f48c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":880,"y":260,"wires":[["da1b7c83.d52ed"]]},{"id":"a5bd5bd3.3f6218","type":"change","z":"41494583.44f48c","name":"","rules":[{"t":"set","p":"classifier","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":220,"wires":[["da1b7c83.d52ed"]]},{"id":"da1b7c83.d52ed","type":"function","z":"41494583.44f48c","name":"クエリセット","func":"var name = \"isbot\";\n\nmsg.payload = {\n    \"_id\" : msg.classifier.classifier_id,\n    \"classifier_id\" : msg.classifier.classifier_id,\n    \"name\" : name,\n    \"created\" : msg.classifier.created\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":220,"wires":[["e8eb0566.eb1738"]]},{"id":"e8eb0566.eb1738","type":"cloudant out","z":"41494583.44f48c","name":"Insert","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1190,"y":220,"wires":[]},{"id":"5c555f6.44cb1a","type":"catch","z":"41494583.44f48c","name":"Cloudant Insertリトライ","scope":["e8eb0566.eb1738"],"x":690,"y":400,"wires":[["d8e8a879.1912f8"]]},{"id":"d8e8a879.1912f8","type":"delay","z":"41494583.44f48c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":880,"y":400,"wires":[["caeb9c3b.5811e"]]},{"id":"8af45278.b9164","type":"change","z":"41494583.44f48c","name":"","rules":[{"t":"set","p":"classifier","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":360,"wires":[["caeb9c3b.5811e"]]},{"id":"caeb9c3b.5811e","type":"function","z":"41494583.44f48c","name":"クエリセット","func":"var name = \"emotion\";\n\nmsg.payload = {\n    \"_id\" : msg.classifier.classifier_id,\n    \"classifier_id\" : msg.classifier.classifier_id,\n    \"name\" : name,\n    \"created\" : msg.classifier.created\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":360,"wires":[["e8eb0566.eb1738"]]},{"id":"58114d31.154844","type":"comment","z":"41494583.44f48c","name":"分類器の状態確認（classifier_id指定）","info":"","x":170,"y":580,"wires":[]},{"id":"ddfebadf.090798","type":"watson-natural-language-classifier","z":"41494583.44f48c","name":"分類器状態確認","mode":"classify","language":"en","classifier":"","x":320,"y":620,"wires":[["842ee604.4ef208"]]},{"id":"842ee604.4ef208","type":"debug","z":"41494583.44f48c","name":"","active":true,"console":"false","complete":"payload","x":490,"y":620,"wires":[]},{"id":"c8b1a1bc.3df1c","type":"inject","z":"41494583.44f48c","name":"分類器状態確認","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":620,"wires":[["ddfebadf.090798"]]},{"id":"2f924823.4e1398","type":"cloudant in","z":"41494583.44f48c","name":"検索","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":310,"y":500,"wires":[["4da3396e.5d5e58"]]},{"id":"625b0e01.83fc6","type":"cloudant out","z":"e2d1fc4e.76159","name":"ツイート情報登録","cloudant":"","database":"twitter_data","service":"node-red-twitter-okano-cloudantNoSQLDB","payonly":false,"operation":"insert","x":770,"y":180,"wires":[]},{"id":"6ed2076d.6d36f8","type":"change","z":"e2d1fc4e.76159","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[["51c8d6d1.360378","5b30bb30.517084"]]},{"id":"e875a040.9cbcd","type":"switch","z":"e2d1fc4e.76159","name":"人のみ","property":"payload.top_class","propertyType":"msg","rules":[{"t":"eq","v":"person","vt":"str"}],"checkall":"true","outputs":1,"x":570,"y":80,"wires":[["6ed2076d.6d36f8"]]},{"id":"64e4c818.8ce028","type":"delay","z":"e2d1fc4e.76159","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":180,"wires":[["625b0e01.83fc6"]]},{"id":"f5823d2a.feff5","type":"switch","z":"e2d1fc4e.76159","name":"日本語のみ","property":"lang","propertyType":"msg","rules":[{"t":"eq","v":"ja","vt":"str"}],"checkall":"true","outputs":1,"x":250,"y":80,"wires":[["34e592b1.7e217e"]]},{"id":"359b60d6.44cf1","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"x":470,"y":300,"wires":[["56df13b2.47150c"]]},{"id":"56df13b2.47150c","type":"change","z":"e2d1fc4e.76159","name":"流量制限用","rules":[{"t":"set","p":"request.count","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[[]]},{"id":"9be132f1.6f87a","type":"http request","z":"e2d1fc4e.76159","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1260,"wires":[["c8ad0023.ef185","abf94ba2.f66788"]]},{"id":"5ba5822d.8239bc","type":"http request","z":"e2d1fc4e.76159","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1400,"wires":[["6a22eb10.5b6e14","f810ac16.3963e"]]},{"id":"a908c7c1.31c188","type":"http request","z":"e2d1fc4e.76159","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":1540,"wires":[["ddde6f78.fd4c9","d1527c08.369b3"]]},{"id":"34fd3eca.ec2f92","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"72b036f8.8c3a38","order":0,"width":0,"height":0,"label":"感情分類","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":680,"y":2280,"wires":[[],[]]},{"id":"6873ecb7.60bd64","type":"function","z":"1e42336.16397cd","name":"削除対象抽出","func":"msg.target = msg.payload;\nmsg.count = msg.payload.length;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["ac640b47.88aee8"]]},{"id":"6ea33e36.41421","type":"inject","z":"1e42336.16397cd","name":"最も古い分類器の削除","topic":"posinega","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":80,"wires":[["2d10de12.f9abd2"]]},{"id":"d9b8ff72.26ce5","type":"template","z":"1e42336.16397cd","name":"削除対象設定","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[\"abc12ex123-nlc-12346\", \"abc12ex123-nlc-12346\"]","output":"json","x":340,"y":400,"wires":[["6873ecb7.60bd64"]]},{"id":"f203f6fa.35fe78","type":"comment","z":"1e42336.16397cd","name":"最も古い分類器の削除（ポジネガ）","info":"","x":160,"y":40,"wires":[]},{"id":"2d10de12.f9abd2","type":"cloudant in","z":"1e42336.16397cd","name":"検索","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":330,"y":180,"wires":[["e4ebbcf.5e1b14"]]},{"id":"60538a43.a9be94","type":"inject","z":"1e42336.16397cd","name":"最も古い分類器の削除","topic":"isbot","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":180,"wires":[["2d10de12.f9abd2"]]},{"id":"e4ebbcf.5e1b14","type":"function","z":"1e42336.16397cd","name":"削除対象設定","func":"var name = msg.topic;\nvar id = \"\";\nvar rev = \"\";\nvar created = new Date();\n\nif (Array.isArray(msg.payload)) {\n    for (i = 0; i < msg.payload.length; i++) {\n        if (name == msg.payload[i].name) {\n            if (created.getTime() > new Date(msg.payload[i].created).getTime()) {\n                id = msg.payload[i]._id;\n                rev = msg.payload[i]._rev;\n                created = new Date(msg.payload[i].created);\n            }\n        }\n    }\n}\n\nmsg.payload = id;\nmsg._id = id;\nmsg._rev = rev;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["5a0b1d7a.7926c4","21766bfd.07a4e4"]]},{"id":"5a0b1d7a.7926c4","type":"watson-natural-language-classifier","z":"1e42336.16397cd","name":"分類器削除","mode":"remove","language":"en","classifier":"","x":650,"y":180,"wires":[["af59e0b7.e2d5"]]},{"id":"21766bfd.07a4e4","type":"function","z":"1e42336.16397cd","name":"Cloudant用設定","func":"msg.payload = { \"_id\" : msg._id, \"_rev\" : msg._rev }\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["15265955.604497"]]},{"id":"9d2a51d9.f014b","type":"comment","z":"1e42336.16397cd","name":"最も古い分類器の削除（BOT判断）","info":"","x":160,"y":140,"wires":[]},{"id":"15265955.604497","type":"cloudant out","z":"1e42336.16397cd","name":"削除","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","payonly":false,"operation":"delete","x":810,"y":240,"wires":[]},{"id":"af59e0b7.e2d5","type":"debug","z":"1e42336.16397cd","name":"","active":true,"console":"false","complete":"false","x":810,"y":180,"wires":[]},{"id":"fe1cd37d.0e6a2","type":"inject","z":"1e42336.16397cd","name":"最も古い分類器の削除","topic":"emotion","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":280,"wires":[["2d10de12.f9abd2"]]},{"id":"c218c92b.a32bc8","type":"comment","z":"1e42336.16397cd","name":"最も古い分類器の削除（感情）","info":"","x":150,"y":240,"wires":[]},{"id":"cd44a78.e350d58","type":"inject","z":"1e42336.16397cd","name":"分類器情報の削除","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":400,"wires":[["d9b8ff72.26ce5"]]},{"id":"ac640b47.88aee8","type":"switch","z":"1e42336.16397cd","name":"","property":"count","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":670,"y":400,"wires":[["a114d223.19997"],["3f2c0b75.8216f4"]]},{"id":"3f2c0b75.8216f4","type":"function","z":"1e42336.16397cd","name":"削除対象抽出","func":"msg.count--;\nmsg.payload = msg.target[msg.count];\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":420,"wires":[["87ac244f.205028","3482401c.bf575"]]},{"id":"a114d223.19997","type":"debug","z":"1e42336.16397cd","name":"終了","active":true,"console":"false","complete":"count","x":790,"y":380,"wires":[]},{"id":"feb61a51.842088","type":"delay","z":"1e42336.16397cd","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":440,"wires":[["ac640b47.88aee8"]]},{"id":"74105be4.0b2974","type":"link in","z":"1e42336.16397cd","name":"分類器削除(in)","links":["74af6d85.2e0d34"],"x":435,"y":440,"wires":[["feb61a51.842088"]]},{"id":"10eadcc7.acaec3","type":"comment","z":"1e42336.16397cd","name":"分類器の削除（classifier_id指定）","info":"","x":160,"y":360,"wires":[]},{"id":"3482401c.bf575","type":"cloudant in","z":"1e42336.16397cd","name":"検索","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":970,"y":460,"wires":[["969d1b9a.182ff8"]]},{"id":"87ac244f.205028","type":"watson-natural-language-classifier","z":"1e42336.16397cd","name":"分類器削除","mode":"remove","language":"en","classifier":"","x":990,"y":420,"wires":[["44df0f6e.2b767","74af6d85.2e0d34"]]},{"id":"969d1b9a.182ff8","type":"cloudant out","z":"1e42336.16397cd","name":"削除","cloudant":"","database":"classifiers","service":"node-red-twitter-okano-cloudantNoSQLDB","payonly":false,"operation":"delete","x":1090,"y":460,"wires":[]},{"id":"44df0f6e.2b767","type":"debug","z":"1e42336.16397cd","name":"","active":true,"console":"false","complete":"false","x":1150,"y":420,"wires":[]},{"id":"74af6d85.2e0d34","type":"link out","z":"1e42336.16397cd","name":"分類器削除(out)","links":["74105be4.0b2974"],"x":1095,"y":380,"wires":[]},{"id":"791a6187.dd6fa","type":"switch","z":"e2d1fc4e.76159","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":640,"y":600,"wires":[["fe7bc0a.9c5074"],["7009747a.9d8b1c"]]},{"id":"fe7bc0a.9c5074","type":"function","z":"e2d1fc4e.76159","name":"クエリセット","func":"msg.remains--;\n\nvar startDate = new Date(); \nvar endDate = new Date(); \nvar startHour = \"\";\nvar startMinute = \"\";\nvar endHour = \"\";\nvar endMinute = \"\";\n\nvar groupLevel;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        startDate.setHours(startDate.getHours() + 8);\n        startDate.setMinutes(startDate.getMinutes() + 1);\n        endDate.setHours(endDate.getHours() + 9);\n        endDate.setMinutes(endDate.getMinutes() + 1);\n        startHour = \",\" + startDate.getHours();\n        startMinute = \",\" + startDate.getMinutes();\n        endHour = \",\" + endDate.getHours();\n        endMinute = \",\" + endDate.getMinutes();\n        groupLevel = 7;\n        break;\n\n    case \"hourly\":\n        startDate.setDate(startDate.getDate() - 1);\n        startDate.setHours(startDate.getHours() + 10);\n        endDate.setHours(endDate.getHours() + 10);\n        startHour = \",\" + startDate.getHours();\n        endHour = \",\" + endDate.getHours();\n        groupLevel = 6;\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(startDate.getFullYear(), startDate.getMonth(), 0).getDate();\n        startDate.setDate(startDate.getDate() - endOfLastMonth + 1);\n        startDate.setHours(startDate.getHours() + 9);\n        endDate.setDate(endDate.getDate() + 1);\n        endDate.setHours(endDate.getHours() + 9);\n        groupLevel = 5;\n        break;\n\n    default:\n        break;\n}\n\nvar startYear = startDate.getFullYear();\nvar startMonth = startDate.getMonth()+1;\nvar startDay = startDate.getDate();\n\nvar endYear = endDate.getFullYear();\nvar endMonth = endDate.getMonth()+1;\nvar endDay = endDate.getDate();\n\nvar param = \"group_level=\" + groupLevel +\n            \"&startkey=[\" +\n                \"\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\",\" +\n                startYear + \",\" +\n                startMonth + \",\" +\n                startDay +\n                startHour +\n                startMinute +\n            \"]\" +\n            \"&endkey=[\" +\n                \"\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\",\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n                endHour +\n                endMinute +\n            \"]\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_time?\" + param);\n\nmsg.now = endDate;\nmsg.groupLevel = groupLevel;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":440,"wires":[[]]},{"id":"3e5f38cb.c12118","type":"function","z":"e2d1fc4e.76159","name":"データ整形","func":"var level = msg.groupLevel - 2;\n\nvar count = {};\nmsg.payload.rows.forEach(function(row) {\n    if(!count[row.key[level]]) count[row.key[level]] = 0;\n    count[row.key[level]] += row.value;\n})\n\nvar data = [];\nvar timeRange;\nvar now;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        timeRange = 60;\n        now = msg.now.getMinutes();\n        break;\n\n    case \"hourly\":\n        timeRange = 24;\n        now = msg.now.getHours();\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(msg.now.getFullYear(), msg.now.getMonth(), 0).getDate();\n        timeRange = endOfLastMonth;\n        now = msg.now.getDate();\n        break;\n\n    default:\n        break;\n}\n\nfor (i=0; i < timeRange; i++) {\n    if (count[now]) {\n        data[i] = count[now];\n    } else {\n        data[i] = 0;\n    }\n\n    now++;\n    if (msg.timeRange == \"daily\" ) {\n        if (now > timeRange) now = 1;\n    } else {\n        if (now >= timeRange) now = 0;\n    }\n}\n\nmsg.data[msg.remains] = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["791a6187.dd6fa"]]},{"id":"7009747a.9d8b1c","type":"function","z":"e2d1fc4e.76159","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\n\nvar level = msg.groupLevel - 2;\n\ngraph[0].data = msg.data;\n\nvar timeRange;\nvar now;\n\nswitch (msg.timeRange) {\n    case \"minutely\":\n        timeRange = 60;\n        now = msg.now.getMinutes();\n        break;\n\n    case \"hourly\":\n        timeRange = 24;\n        now = msg.now.getHours();\n        break;\n\n    case \"daily\":\n        var endOfLastMonth = new Date(msg.now.getFullYear(), msg.now.getMonth(), 0).getDate();\n        timeRange = endOfLastMonth;\n        now = msg.now.getDate();\n        break;\n\n    default:\n        break;\n}\n\nfor (i=0; i < timeRange; i++) {\n    graph[0].labels[i] = now;\n    \n    now++;\n    if (msg.timeRange == \"daily\" ) {\n        if (now > timeRange) now = 1;\n    } else {\n        if (now >= timeRange) now = 0;\n    }\n}\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":660,"wires":[["d2cd88e3.e32c68"]]},{"id":"a37884d5.c90968","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"a69090d7.bec11","order":1,"width":0,"height":0,"label":"分","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":420,"wires":[[],[]]},{"id":"7e19d28c.a5820c","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"a69090d7.bec11","order":2,"width":0,"height":0,"label":"時","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":500,"wires":[[],[]]},{"id":"31bc4f4e.1d1f2","type":"ui_chart","z":"e2d1fc4e.76159","name":"","group":"a69090d7.bec11","order":3,"width":0,"height":0,"label":"日","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"31","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":580,"wires":[[],[]]},{"id":"d39a26b6.1c4528","type":"switch","z":"e2d1fc4e.76159","name":"単位振分","property":"timeRange","propertyType":"msg","rules":[{"t":"eq","v":"minutely","vt":"str"},{"t":"eq","v":"hourly","vt":"str"},{"t":"eq","v":"daily","vt":"str"}],"checkall":"true","outputs":3,"x":900,"y":1020,"wires":[["b0b22155.8e31c"],["cd4e6471.fa2958"],["f1bcd7a2.589068"]]},{"id":"5b0bd045.b65a","type":"change","z":"e2d1fc4e.76159","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"posinega","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":500,"wires":[["4467d666.4f73c8"]]},{"id":"4467d666.4f73c8","type":"function","z":"e2d1fc4e.76159","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.data = [[]];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["fe7bc0a.9c5074"]]},{"id":"e87379fc.09cf68","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":420,"wires":[["5b0bd045.b65a"]]},{"id":"6cf68c1a.adb2d4","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"hourly","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":500,"wires":[["5b0bd045.b65a"]]},{"id":"524f57b4.da3c48","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"daily","payloadType":"str","repeat":"60","crontab":"","once":false,"x":90,"y":580,"wires":[["5b0bd045.b65a"]]},{"id":"f3099c21.899a3","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"hourly","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":760,"wires":[["d6ba1da7.dda2e"]]},{"id":"cb88eb52.9eff38","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":680,"wires":[["d6ba1da7.dda2e"]]},{"id":"82beef2b.9fa55","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"daily","payloadType":"str","repeat":"60","crontab":"","once":false,"x":90,"y":840,"wires":[["d6ba1da7.dda2e"]]},{"id":"cd44f5ce.e62c68","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"hourly","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":1020,"wires":[["5100a6b0.41a788"]]},{"id":"80fd1e7c.db4b8","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"minutely","payloadType":"str","repeat":"60","crontab":"","once":false,"x":100,"y":940,"wires":[["5100a6b0.41a788"]]},{"id":"42f4e8fe.ca4b48","type":"inject","z":"e2d1fc4e.76159","name":"","topic":"","payload":"daily","payloadType":"str","repeat":"60","crontab":"","once":false,"x":90,"y":1100,"wires":[["5100a6b0.41a788"]]},{"id":"d2cd88e3.e32c68","type":"switch","z":"e2d1fc4e.76159","name":"分類器振分","property":"classifier","propertyType":"msg","rules":[{"t":"eq","v":"posinega","vt":"str"},{"t":"eq","v":"isbot","vt":"str"},{"t":"eq","v":"emotion","vt":"str"}],"checkall":"true","outputs":3,"x":730,"y":760,"wires":[["dc2f999f.3af368"],["385dbb32.656764"],["d39a26b6.1c4528"]]},{"id":"dc2f999f.3af368","type":"switch","z":"e2d1fc4e.76159","name":"単位振分","property":"timeRange","propertyType":"msg","rules":[{"t":"eq","v":"minutely","vt":"str"},{"t":"eq","v":"hourly","vt":"str"},{"t":"eq","v":"daily","vt":"str"}],"checkall":"true","outputs":3,"x":900,"y":500,"wires":[["a37884d5.c90968"],["7e19d28c.a5820c"],["31bc4f4e.1d1f2"]]},{"id":"385dbb32.656764","type":"switch","z":"e2d1fc4e.76159","name":"単位振分","property":"timeRange","propertyType":"msg","rules":[{"t":"eq","v":"minutely","vt":"str"},{"t":"eq","v":"hourly","vt":"str"},{"t":"eq","v":"daily","vt":"str"}],"checkall":"true","outputs":3,"x":900,"y":760,"wires":[["6308998d.3a4ee8"],["9eb0c5ef.5a9988"],["12f438c.b90fac7"]]},{"id":"6c8ce419.90782c","type":"comment","z":"e2d1fc4e.76159","name":"Tweet内訳","info":"","x":60,"y":1180,"wires":[]},{"id":"316d4ff8.5f6f","type":"function","z":"e2d1fc4e.76159","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.count = [];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1760,"wires":[["948d4a6.8128cb8"]]},{"id":"259f1342.e3a3fc","type":"switch","z":"e2d1fc4e.76159","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":300,"y":1880,"wires":[["948d4a6.8128cb8"],["994aa576.3d3d28"]]},{"id":"948d4a6.8128cb8","type":"function","z":"e2d1fc4e.76159","name":"クエリセット","func":"msg.remains--;\nvar param = \"key=\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\"\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_class?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1820,"wires":[[]]},{"id":"994aa576.3d3d28","type":"function","z":"e2d1fc4e.76159","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\ngraph[0].data[0] = msg.count;\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1880,"wires":[["ab8c3e93.01adb"]]},{"id":"dae916e2.409f88","type":"change","z":"e2d1fc4e.76159","name":"分類器名セット","rules":[{"t":"set","p":"classifier","pt":"msg","to":"posinega","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1760,"wires":[["316d4ff8.5f6f"]]},{"id":"6397893c.22b498","type":"function","z":"e2d1fc4e.76159","name":"カウントセット","func":"if (msg.payload.rows[0]) {\n    msg.count[msg.remains] = msg.payload.rows[0].value;\n} else {\n    msg.count[msg.remains] = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1820,"wires":[["259f1342.e3a3fc"]]},{"id":"7697dd99.9eebd4","type":"function","z":"e2d1fc4e.76159","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.count = [];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1960,"wires":[["dd80c994.7d1ce8"]]},{"id":"b9dd3eb.5ac65c","type":"function","z":"e2d1fc4e.76159","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\ngraph[0].data[0] = msg.count;\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":2080,"wires":[["e5c11ab1.e07b18"]]},{"id":"dd80c994.7d1ce8","type":"function","z":"e2d1fc4e.76159","name":"クエリセット","func":"msg.remains--;\nvar param = \"key=\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\"\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_class?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":2020,"wires":[[]]},{"id":"e029b429.e6aca8","type":"switch","z":"e2d1fc4e.76159","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":300,"y":2080,"wires":[["dd80c994.7d1ce8"],["b9dd3eb.5ac65c"]]},{"id":"1a74e055.b215b","type":"function","z":"e2d1fc4e.76159","name":"カウントセット","func":"if (msg.payload.rows[0]) {\n    msg.count[msg.remains] = msg.payload.rows[0].value;\n} else {\n    msg.count[msg.remains] = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2020,"wires":[["e029b429.e6aca8"]]},{"id":"ffde7c85.0a924","type":"function","z":"e2d1fc4e.76159","name":"クラス数カウント","func":"msg.remains = global.get(msg.classifier).class.length;\nmsg.count = [];\nmsg.timeRange = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":2160,"wires":[["94800a4e.c3f7b8"]]},{"id":"4135cb4a.9b7ed4","type":"function","z":"e2d1fc4e.76159","name":"データマージ","func":"var graph = [{\n              series: [],\n              data: [[]],\n              labels: []\n            }];\n\ngraph[0].series = global.get(msg.classifier).class;\ngraph[0].labels = global.get(msg.classifier).class;\n\ngraph[0].data[0] = msg.count;\n\nmsg.payload = graph;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":2280,"wires":[["34fd3eca.ec2f92"]]},{"id":"94800a4e.c3f7b8","type":"function","z":"e2d1fc4e.76159","name":"クエリセット","func":"msg.remains--;\nvar param = \"key=\\\"\" + global.get(msg.classifier).class[msg.remains] + \"\\\"\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/count_by_class?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":2220,"wires":[[]]},{"id":"7a6e933d.ae9f8c","type":"switch","z":"e2d1fc4e.76159","name":"クラス数分繰り返し","property":"remains","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":300,"y":2280,"wires":[["94800a4e.c3f7b8"],["4135cb4a.9b7ed4"]]},{"id":"b16f4a21.aa7978","type":"function","z":"e2d1fc4e.76159","name":"カウントセット","func":"if (msg.payload.rows[0]) {\n    msg.count[msg.remains] = msg.payload.rows[0].value;\n} else {\n    msg.count[msg.remains] = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2220,"wires":[["7a6e933d.ae9f8c"]]},{"id":"6e563c4f.567cc4","type":"inject","z":"e2d1fc4e.76159","name":"1週間より前のデータ削除","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * *","once":false,"x":160,"y":240,"wires":[["b28a05dc.519648"]]},{"id":"b28a05dc.519648","type":"function","z":"e2d1fc4e.76159","name":"クエリセット","func":"msg.remains--;\n\nvar endDate = new Date(); \n\nendDate.setDate(endDate.getDate() - 7);\nendDate.setHours(endDate.getHours() + 9);\n\nvar endYear = endDate.getFullYear();\nvar endMonth = endDate.getMonth()+1;\nvar endDay = endDate.getDate();\n\nvar param = \"endkey=[\" +\n                endYear + \",\" +\n                endMonth + \",\" +\n                endDay +\n            \"]\";\nmsg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" + global.get(\"cloudant.dbname\") + \"/_design/view/_view/sort_by_date?\" + param);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[[]]},{"id":"53ef999f.548e58","type":"function","z":"e2d1fc4e.76159","name":"削除クエリセット","func":"msg.url = encodeURI(global.get(\"cloudant.url\") + \"/\" +  global.get(\"cloudant.dbname\") + \"/_bulk_docs\");\n\nvar docs = [{ \"_id\":\"\",\n              \"_rev\":\"\",\n              \"_deleted\":\"\"}];\n\nif(Array.isArray(msg.payload.rows)) {\n    for (i = 0; i < msg.payload.rows.length; i++) {\n        if (msg.payload.rows[i]) {\n            docs[i] = { \"_id\" : msg.payload.rows[i].value._id,\n                        \"_rev\" : msg.payload.rows[i].value._rev,\n                        \"_deleted\" : true};\n        }\n    }\n}\n\nmsg.payload = { \"docs\":docs };\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":240,"wires":[["f5ede6a4.a206f8"]]},{"id":"f5ede6a4.a206f8","type":"http request","z":"e2d1fc4e.76159","name":"","method":"POST","ret":"obj","url":"","tls":"","x":910,"y":240,"wires":[[]]},{"id":"a81145ab.2ed2e8","type":"delay","z":"e37277db.12d168","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"200","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":270,"y":160,"wires":[["11f03c3d.e790e4"]]},{"id":"11f03c3d.e790e4","type":"switch","z":"e37277db.12d168","name":"流量制限","property":"request.count","propertyType":"global","rules":[{"t":"lt","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":260,"y":100,"wires":[["9d9ae6f5.2da7c8"],["a81145ab.2ed2e8"]]},{"id":"180b0a9a.dca0c5","type":"http request","z":"e37277db.12d168","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":80,"wires":[["2fc2df6c.23831"]]},{"id":"ffd5d400.b4b9a8","type":"delay","z":"e37277db.12d168","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1000","randomLast":"1","randomUnits":"milliseconds","drop":false,"x":120,"y":100,"wires":[["11f03c3d.e790e4"]]},{"id":"2fc2df6c.23831","type":"switch","z":"e37277db.12d168","name":"エラー検知","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":750,"y":80,"wires":[[],["cc14d8c4.a4b1a8"]]},{"id":"9d9ae6f5.2da7c8","type":"function","z":"e37277db.12d168","name":"流量カウント","func":"var count = global.get('request.count');\ncount++;\nglobal.set('request.count',count);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["180b0a9a.dca0c5"]]},{"id":"cc14d8c4.a4b1a8","type":"function","z":"e37277db.12d168","name":"リトライセット","func":"msg.retryCount = msg.retryCount || 0;\nmsg.retryCount++;\n\nmsg.payload = {};\nmsg.responseUrl = null;\nmsg.headers = null;\nmsg.statusCode = null;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":100,"wires":[["37366a1.8d2a096"]]},{"id":"37366a1.8d2a096","type":"switch","z":"e37277db.12d168","name":"リトライ上限","property":"retryCount","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1100,"y":100,"wires":[[],["a81145ab.2ed2e8"]]}]
